date: 30-08-2011
title: A month of blogging


{% extends "post.html" %}
{% block body %}

<p>As a tribute to Gabriel Weinberg&#8217;s <a href="http://www.gabrielweinberg.com/blog/2011/08/why-i-blog.html">Why I Blog</a>, here&#8217;s my experience about starting and committing to this blog. Even though I&#8217;ve only been blogging for a month, it&#8217;s already been a tremendous experience. Now that I&#8217;m the rythm of writing a small article every workday, it seems hard to break that chain of posts.</p>

<p><strong>Helps you understand</strong></p>

<p>I couldn&#8217;t agree more with Gabriel, writing helps to understand yourself. Vague feelings have to be expressed using clear language. You start to think about what is important, and how to explain it. When I now think about a problem I can&#8217;t help but thinking about how to write about it, which helps me focusing on understanding and explaining the problem.</p>

<p><strong>Great feedback and insights</strong></p>

<p>The feedback I got so far has been amazing. First of all, the discussions on Hacker News are so valuable and the commenters give such good insights. For example, take this comment by danieldk on yesterday&#8217;s post:</p>

<blockquote>
  <p>However paradoxical, minimalism can be also an be attachment. As Buddhists
  would say, take the middle road.</p>
</blockquote>

<p><a href="http://news.ycombinator.com/item?id=2936781">(source)</a></p>

<p>Also, I&#8217;ve gotten to know a lot of interesting people via e-mail, Skype, Twitter and even some in real life because of writing this blog. My life definitely feels richer for it.</p>

<p><strong>Public commitment</strong></p>

<p>Making a <a href="http://ezinearticles.com/?Cognitive-Dissonance-and-Public-Commitment&amp;id=293095">public commitment</a> is shown to be a very effective way of getting things done. As for me, I&#8217;ve made public commitment to become an indie developer and this helps me to push through the times of doubt.</p>

<p><strong>Building an audience</strong></p>

<p>At this moment, a 101 people follow me on tumblr (a month ago it was 0 people).
On Twitter, I went from 488 followers a month ago to 663 at the moment of
writing. That&#8217;s an increase of 49% in just a month, which I&#8217;m very thankful for.</p>{% endblock body %}