date: 16-09-2011
title: AirBnB for dogs


{% extends "post.html" %}
{% block body %}

<p>Are you thinking of building a new website? Or an app? AirBnB for dogs? A
Groupon/Twitter/Facebook mashup? Mobile first? Sometimes it&#8217;s kind of hard to see, it looks like all the good ideas are taken already, and we can only combine existing ones. It&#8217;s all kinds of products. As an app developer, I sometimes think all the apps are already built.</p>

<p>I had a perfectly good idea two months ago: a YouTube remote, where you control
YouTube from your iPhone. It exists: <a href="http://tubemote.com/">TubeMote</a>. I think
it&#8217;s executed very well, better than the execution I had in mind.</p>

<p>As a small gig, I was asked a little while ago to write the functional design for a
new website of a medium-sized trading company that sells and rents out big hydraulic
machines. They were one of the first companies in their branch with a website,
about 10 years ago. They never updated it.</p>

<p>Even though the company makes a significant amount of money from international
customers who find them through the website, they didn&#8217;t do anything about the site. 
It&#8217;s not that they were putting it off: they just didn&#8217;t realize it, and didn&#8217;t really care about it.</p>

<p>The new website will be optimized for search engines, organized pages, with
explanations about the products, videos, good copywriting, well-thought out
navigation, a decent visual design and prepared for mobile browsers.</p>

<p>Driving home from one of the meetings I realized: we&#8217;re just at the
beginning. There is still so much stuff to build. Instead of building YouTube
remotes, we should get out there and
talk to companies <em>outside</em> of IT. We need to build the stuff they need. I thought the apps
market was saturated, but there are still so many companies who don&#8217;t even have
a decent website yet. Let&#8217;s help them.</p>

<p><a href="http://news.ycombinator.com/item?id=3004918">Discuss on Hacker News</a></p>{% endblock body %}