date: 12-09-2011
title: Be Visible


{% extends "post.html" %}
{% block body %}

<p>Whatever you are doing, make sure you&#8217;re visible. Don&#8217;t fear embarrassment and
publish yourself, in whichever form. Here are three stories:</p>

<p><strong>Twitter</strong></p>

<p>As I wrote in an <a href="http://chriseidhof.tumblr.com/post/9873846899/ive-got-an-idea-for-an-app">earlier post</a>, I became iPhone developer by chance. Just
for fun, we created a game called <a href="http://cookiecombo.com/">CookieCombo</a> to play around with the
iPhone SDK, which came out a few months earlier. We tweeted about it, and got
two instant gigs out of it: we built the app for Wakoopa and the app for NRC
(a leading Dutch newspaper). After that, we were the guys who built NRC, and got
many gigs out of that.</p>

<p><strong>Blogging</strong></p>

<p>Since I started blogging, I got a lot of followers on Twitter, on Tumblr and a
lot of email. I&#8217;m definitely not the best developer out there (although I
consider myself competent enough), but I am easy to find. People stumble upon my
blog, and come to me with their iPhone idea.</p>

<p><strong>Speaking</strong></p>

<p>By speaking at small meetups or conferences, I made a lot of friends. 
If you write or speak about a topic, people consider you an expert. When I was
freelancing, a lot of people referred potential clients to me, because they
remembered me from one of these events.</p>

<p>The key takeaway point is: be publicly visible. Put yourself out there:
write, speak, blog, tweet, help, teach, email, whatever works for you. This has
the awesome side effect that <em>people find you</em>. Instead of having to search for
clients, they come to you. Instead of having to find a good designer for your
project, they might approach you because they want to work with you.</p>

<p><a href="http://news.ycombinator.com/item?id=2986197">Discuss on Hacker News</a></p>{% endblock body %}