date: 26-03-2012
title: Berlin Tech Meetups


{% extends "post.html" %}
{% block body %}

<p>I&#8217;m trying to come up with a list of tech-related meetups in Berlin. This list
is far from complete: please help me to add more meetups, and improve the
descriptions. Just <a href="mailto:chris@eidhof.nl">send me an email</a> with corrections and/or suggestions.  A next step would be to create a Google Calendar just like Peter
Robinett did for <a href="http://www.bubblefoundry.com/dutch-tech-meetups/">Dutch Tech
Meetups</a>.</p>

<p>For people who don&#8217;t speak German: Germans are very friendly and speak
English, especially the techies. Sometimes the announcements, webpages or conversations are in German, but Germans are very polite and quickly switch to English when
necessary.</p>

<p>Here&#8217;s the preliminary list I&#8217;ve come up with:</p>

<p><a href="http://www.meetup.com/berlin-gtug/">Berlin Google Technology User Group</a></p>

<p>We meet regularly every 6 -  8 weeks to talk about recent developments in Google
technologies or to spread practical knowledge through presentations. Next
meeting: March 26th.</p>

<p><a href="http://www.meetup.com/Berlin-HTML5-User-Group/">Berlin HTML5 User Group</a></p>

<p>This group was created to gather the HTML5 community in Berlin. Meetups/Webinars will be organized every month once moment we will have a certain number of people. All HTML5, CSS or Javascript enthusiasts (Developers, designers, webmasters&#8230;) are welcome to join.</p>

<p><a href="http://www.meetup.com/The-Berlin-Semantic-Web-Meetup-Group/events/56299712/">The Berlin Semantic Web Meetup Group</a></p>

<p>Meet local people interested in standardized and future (Semantic Web) Internet technologies aimed at turning the Web into a huge repository of cross-referenced, machine-understandable data and executable artifacts, processes and services.</p>

<p><a href="http://www.meetup.com/Berlin-CouchDB-Meetup/">CouchDB User Group</a></p>

<p>We talk about everything couchdb, its future, our future, related technology and (our) projects connected to it.</p>

<p><a href="http://berlindevops.org/">Berlin DevOps</a></p>

<p>The group aims to bring Berlin’s system administrators, system engineers, system developers, web operators, software developers, test engineers, software architects and alike together and create a media for information and knowledge exchange.</p>

<p><a href="http://www.agile42.com/blog/categories/scrumtisch/">Scrumtisch Berlin</a></p>

<p>Talking about everything scrum and agile.</p>

<p><a href="http://www.jug-bb.de/">Java User Group Berlin Brandenburg</a></p>

<p>Talk about Java.</p>

<p><a href="http://cocoaheads-berlin.github.com/">CocoaHeads Berlin</a></p>

<p>CocoaHeads is a group devoted to discussion of Apple Computer&#8217;s Cocoa Framework for programming on MacOS X (including the iPhone).</p>

<p><a href="http://groups.google.com/group/erlang-berlin">Erlang Berlin</a></p>

<p>Talk about everything Erlang.</p>

<p><a href="http://www.meetup.com/Clojure-Berlin/">Clojure User Group Berlin</a></p>

<p>The Clojure User Group Berlin is a get together of people interested in Clojure&#8212;a Lisp dialect for the JVM. Come and discuss what you&#8217;re working on, have questions, and meet other like-minded people.</p>

<p><a href="http://djangode.pbworks.com/w/page/4861687/Django%20User%20Group%20Berlin">Django User Group
Berlin</a></p>

<p>Wir sind eine Gruppe von 10 bis 20 Personen, die sich regelmäßig monatlich zusammenfinden, um über Django und die Welt zu philosophieren. Wir freuen uns über jeden, der Spaß an Django hat oder sich dafür interessiert!</p>

<p><a href="http://wiki.fsfe.org/groups/Berlin">FSFE Berlin</a></p>

<p>Wir sind eine aktive Gruppe von Fellows der Free Software Foundation Europe und Freie-Software-Interessierte. Wir machen auf die gesellschaftlichen Aspekte Freier Software aufmerksam.</p>

<p><a href="http://berlinjs.org/">Berlin.js</a></p>

<p>Berlin.JS is a usergroup focused on Javascript and related topics. We meet regularly on the 3rd Thursday each month at 7p.m. at co.up Offices, Adalbertstraße 7-8 in Berlin-Kreuzberg.</p>

<p><a href="http://www.meetup.com/b-tech/">Berlin Tech Meetup</a></p>

<p>Every month we will have 4-10 companies do a short (3-5 min.) demo of something cool to Berlin&#8217;s tech community (geeks, investors, entrepreneurs, hackers, etc). We&#8217;ve seen it in New York and want to bring it to Berlin.</p>

<p><a href="https://www.facebook.com/siliconallee?sk=events">Silicon Allee Breakfast Meetup</a></p>

<p>German tech news in English - Berlin-based Community of Entrepreneurs. Not just
tech, but all kinds of people involved in the startup scene.</p>

<p><a href="http://www.meetup.com/Scala-Berlin-Brandenburg/">Scala Meetup</a></p>

<p>Talk, Demo, Hack, Breathe, and just about anything else - Scala. In and around Berlin.</p>

<p><em>Credits</em>: I&#8217;ve added the meetups that Isabel wrote about a few months ago: <a href="http://blog.isabel-drost.de/index.php/archives/344/berlin-tech-meetups">Berlin Tech Meetups</a>.</p>{% endblock body %}