date: 10-10-2011
title: Beta and Branding


{% extends "post.html" %}
{% block body %}

<p>This is the start of week 3 of my <a href="/post/10680838726/one-app-in-four-weeks-kickoff">One App in Four
Weeks</a>
project. Last Friday, I sent out the first beta version, and just sent an update
(with mostly bugfixes).</p>

<p><a href="http://martijnreintjes.com/">Martijn Reintjes</a> suggested that I should change Checkins
to Meetups, and I couldn&#8217;t agree more. I wasn&#8217;t happy with Checkins to start
with, and this makes it a lot simpler. Thanks dude!</p>

<p>Because I wanted to be future-proof, I decided to change it everywhere in the
code too. This took a while, refactoring all the code and setting up a Core Data
migration. It turns out that XCode 4 is still a bit buggy when it comes to
migrations, but after trying the same thing three times it worked (seriously).</p>

<p>This weekend I was thinking about the name and branding. I currently have two options:</p>

<p><strong>Meetups</strong></p>

<p>This name describes exactly what it does. Meetups. There is no other app with
that name yet, although there is the Meetup.com platform, which might be
confusing.</p>

<p><strong>James</strong></p>

<p>This is the name I like the most so far: calling it James. James helps you to
record who you meet. James treats your information as confidential. James
doesn&#8217;t get in the way. James is personal. I was thinking of using an image
similar to this for the logo:</p>

<p><img src="http://dl.dropbox.com/u/1264810/man.png" alt="James"/>.</p>

<p>As always, let me know what you think: send an email or mention/message me on Twitter.</p>{% endblock body %}
