date: 24-08-2011
title: Book Review: Start Small, Stay Small


{% extends "post.html" %}
{% block body %}

<p>This blog post will be a bit different from previous ones: a book review. Before
I went on a two week holiday I got a lot of responses to my previous articles
from awesome Hacker News community members. <a href="http://datawalke.com/">Jim Walker</a> recommended me the book
<a href="http://www.amazon.com/Start-Small-Stay-Developers-Launching/dp/0615373968/">"Start Small, Stay Small: A Developer&#8217;s guide to launching a
startup"</a>. I
immediately bought it on my Kindle (it&#8217;s only $11) and started reading in the
plane to Romania.</p>

<p>The book is just great. It&#8217;s for developers who want to sell their software. It
focuses on doing market research, explains how to do marketing and more. The
gist of the book is: as developers, we know how to code, the book shows 
everything else you need to do to be a successful independent software vendor.</p>

<p>This is not about creating startups, but about setting up a lifestyle business.
However, a lot of these lessons apply to doing a startup too. For example, the
book explains the market-first approach, which is very reminiscent of the Lean
Startup approach. It is all about dominating a niche (for example, making
invoicing software for landscape architects).</p>

<p>The book is packed with useful tips, and I spent a lot of time marking passages, underlining things and jotting down to-do&#8217;s. A lot of the things are straightforward and there are no
things that are radically different, but it&#8217;s great to see it all summed up and
explained nicely. One thing that I didn&#8217;t hear before:</p>

<blockquote>
  <p>Work hard and play hard, but never do both at the same time. Numerous times
  throughout the day ask yourself: &#8220;At this very moment, am I making progress
  towards crossing off a to-do, -or- am I relaxing and re-energizing?&#8221;.</p>
</blockquote>

<p>It&#8217;s not so much about working harder, but about clearly making a distinction
between work and relaxation.</p>

<p>One of my next actions based on the book is to create a great marketing plan for
<a href="http://eidhof.nl/trackme/">TrackMe</a>: I set up a <a href="https://twitter.com/trackmeapp">Twitter account</a>, I&#8217;ll add
a mailing list, try to get featured on relevant sites (<a href="http://lifehacker.com/">Lifehacker</a>, <a href="http://quantifiedself.com/">Quantified Self</a>) and think of a good related whitepaper to write (which will drive traffic to TrackMe&#8217;s website).</p>

<p>Please leave your comments in the <a href="http://news.ycombinator.com/item?id=2920214">Hacker News discussion</a>.</p>{% endblock body %}
