date: 16-05-2012
title: Changing Tech Education


{% extends "post.html" %}
{% block body %}

<p>Sometimes I talk to my friends about why I want to become rich. It&#8217;s to solve the money problem, and once it&#8217;s solved, I hope to have the time, connections  and status to work on bigger problems. I already know exactly what I want to try once I&#8217;m there: change tech education.</p>

<p>When I did my bachelor&#8217;s degree in computer science, I was quite bored most of the time. Officially, you were supposed to work on it at least 40 hours per week, but for me and most of my friends it was closer to 10 hours. The other time we would spend working, or having a hangover.</p>

<p>One of the causes why I didn&#8217;t have to work so hard at university is the different levels of experience. When I started, I already had a few years of building websites under my belt. For example: I worked as the main developer at one of biggest soccer sites, and at the same time I had to take a course on the basics of HTML. Obviously, this disconnect was a problem for me, and for a lot of other motivated students around me. I want to solve this problem.</p>

<p>My solution is a program similar to a bachelor&#8217;s degree in length, but a lot more intense. In order to enter this program, you have to show your aptitude at programming. The program will have teachers from both academia and industry, because I think both theory and practice are very important. Only the best students and teachers can participate. Students have to study theory, but will also spent a lot of time doing internships and real projects. They will learn standard theory, but also topics such as node.js, statistics for big data analysis, native mobile programming, HTML5, git internals, et cetera. For each batch of students, I want to get financing from big companies who then get access to the talent.</p>

<p>To pull this off will be a huge and hard job, but I look forward to it. I&#8217;m still in the exploratory phase, and not sure whether I will actually do it, but at this moment in time I&#8217;m talking with people in both industry and academia to see whether it&#8217;s feasible. Instead of a bachelor&#8217;s program, a very good first step might be to organize a Hacker&#8217;s Summer School: 6 weeks of learning and hacking together with other talented hackers and awesome teachers.</p>

<p>Part of me thinks I&#8217;m too young, inexperienced and not connected enough to do this. But I still think I should at least explore whether it&#8217;s possible and should try. I have no idea in which form exactly. I don&#8217;t know what the topics are going to be, who the teachers are or even what the team should look like. I&#8217;ll keep you posted!</p>{% endblock body %}