date: 27-09-2011
title: Check In to People


{% extends "post.html" %}
{% block body %}

<p>As I wrote in <a href="http://chriseidhof.tumblr.com/post/10680838726/one-app-in-four-weeks-kickoff">yesterday&#8217;s post</a>, I&#8217;m going to build an app in four weeks. Now
I&#8217;ve chosen the idea that I&#8217;m going to build: check in to people. This will give
you an archive of when you met people. After you check in, you can add notes and
maybe pictures.</p>

<p>Yesterday I&#8217;ve thought about the next steps and about the minimum viable
product, and researched existing apps.</p>

<p><em>Existing Software</em></p>

<p>It looks like there is one app that does something similar, it&#8217;s called
<a href="http://www.fellowup.com/">FellowUp</a>. However, it doesn&#8217;t include the time
aspect as much as I want to.</p>

<p>I also stumbled on a blog post by Loic Le Meur, founder of Seesmic and
LeWeb.net, who describes a <a href="http://loiclemeur.com/english/2011/03/its-time-for-personal-asshole-proof-crm.html">Personal
CRM</a>
system. This is some nice validation. People like Loic are my potential market.</p>

<p><em>MVP</em></p>

<p>The Minimum Viable Product is an app with two features: check in and review.
If you press &#8220;Check In&#8221;, you can choose a person from your Address Book (or add
somebody). Then you can choose the date and time (which is pre-set to the
current date and time). You can add notes directly, or later on.</p>

<p>If you press &#8220;People&#8221;, you get a list of your contacts. You can browse them
alphabetically, and selecting a contact gives you the full history of your
check-ins with that person.</p>

<p>Finally, if you press &#8220;Archive&#8221; you get a list of your check-ins, sorted by
date. For example, if you use Getting Things Done you can use it for your weekly
reviews.</p>

<p>There are a <em>lot</em> of other features I thought of, but this will be the MVP.</p>

<p><em>Business Model</em></p>

<p>I can see two straightforward options for the business model: a free app that
allows you to purchase extra features or a paid app. A third option would be to
have a subscription service, but I think that should only be done if there is a
server component included (for example, a plugin in GMail). I have to think of a
good price. Because it&#8217;s a niche app, it won&#8217;t be 99 cents, but probably
something like $4.99. Any tips on the pricing would be much appreciated.</p>

<p><em>Next Steps</em></p>

<ul><li>Start drawing prototypes</li>
<li>Think about who my market is, exactly, and how to market it to them</li>
<li>Think about the branding of the app (name, visual design, icon)</li>
<li>Build a working prototype</li>
</ul><p>As always, the marketing will be the most difficult for me. I&#8217;ll have to think hard about that.</p>

<p><em>Update</em></p>

<p>Right after publishing this post, I found out about <a href="http://hashable.com/">Hashable</a>. It&#8217;s a very similar tool, however, it&#8217;s a service that requires you to login, and it&#8217;s social (you can share things with people). I envisioned a product where everything stays on your iPhone. I&#8217;ll have to think if this is a good reason to quit the project or if it&#8217;s the perfect validation.</p>

<p><a href="http://news.ycombinator.com/item?id=3042712">Discuss on Hacker News</a></p>{% endblock body %}