date: 07-12-2011
title: CocoaPods


{% extends "post.html" %}
{% block body %}

<p>I just upgraded one of my projects to use
<a href="https://github.com/CocoaPods/CocoaPods">CocoaPods</a>. CocoaPods is a library
dependency manager for XCode projects. You can use it in a way similar to Ruby&#8217;s gems or Haskell&#8217;s
cabal. The project is just starting, so it&#8217;s a little rough, but it does the
job.</p>

<p>I think this can make code sharing for iOS developers a lot easier. I&#8217;m all for
reusing code, but it used to be quite a hassle to include a library, so a lot of
times I would try to avoid reusing other code. I&#8217;m pretty sure I&#8217;m not the only
developer who&#8217;s like this. CocoaPods makes the barrier to reuse a lot lower.</p>

<p>By making code sharing a lot easier and encouraging it, I hope that CocoaPods
can change the landscape on iOS. While there are already a lot of open source
components available (for example, on the excellent
<a href="http://cocoacontrols.com/">CocoaControls</a>), this will hopefully spawn a new load of open source libraries.</p>

<p>Cocoa developers, install CocoaPods and give it a try. And while you&#8217;re at it,
try to put your favorite library in a Pod file. Together, we can improve the
ecosystem.</p>{% endblock body %}
