date: 19-09-2011
title: Communicate Often


{% extends "post.html" %}
{% block body %}

<p>This advice is for freelancers: please communicate as often as possible. When
somebody hires you, they want to know what&#8217;s going on. Sometimes you get so
caught up in trying to make a deadline or staying productive, and forget to
communicate. For a client, this can be frustrating, because it looks like
nothing happens (while you were even busier than you would normally be).</p>

<p>In my opinion, bad communication is one of the hardest problems in technology (and in life in general). Improving your communication is always a good thing.</p>

<p>If I were your client, I would definitely appreciate these things:</p>

<ul><li>Let me know when you know you won&#8217;t make the deadline.</li>
<li>Ask me if you don&#8217;t understand something.</li>
<li>If something is a bad idea, please say so. It&#8217;s your professional responsibility.</li>
<li>Send progress reports</li>
<li>Let me know when you will contact me again.</li>
<li>If you&#8217;re too busy to reply, please say so.</li>
<li>If you work for a fixed price, but I&#8217;m requesting something outside of the budget, let me know.</li>
<li>If something unexpected happens that will delay things, please let me know.</li>
<li>If you need my feedback on something, please make sure I understand it&#8217;s a
question.</li>
<li>Send emails that are to the point: explain things in short, understandable
phrases.</li>
</ul><p>I&#8217;ve yet to hire somebody who communicates too often. In true Gruber style, I wrote this 
and imagined myself as the audience: my own communication would improve a lot 
if I followed the advice in this post.</p>

<p><a href="http://news.ycombinator.com/item?id=3014143">Discuss on Hacker News</a></p>{% endblock body %}