date: 09-09-2011
title: Crossing the chasm between design and code


{% extends "post.html" %}
{% block body %}

<p>Recently there was an <a href="http://flyosity.com/application-design/if-you-can-think-design-code-you-win.php">excellent post by Mike
Rundle</a>
about how one person can be a designer and programmer at once.</p>

<p>I think having a designer and programmer in the same person is a great idea. I
wish I would be better at design (not only do I lack experience, I&#8217;m also not sure if I would
have the patience to become a good designer).</p>

<p>When I&#8217;ve worked with designers before, I sometimes noticed that they would just
give me a design to implement, which I did. If something didn&#8217;t work on the
iPhone (for example, creating an endless navigation structure) I would report
back.</p>

<p>There is a problem with this: often times, there is a gap between the knowledge
of the designer and the programmer. The designer doesn&#8217;t always know what&#8217;s
technically possible, what&#8217;s simple or what&#8217;s a good idea. On the other side, a
programmer often doesn&#8217;t know what makes good design.</p>

<p>I think the best teams are with people who have an <em>overlap</em>, instead of a gap.
For example, if a designer knows how to program, they know the kind of things that are
possible. Also, programmers need to know more about design.</p>

<p>One good example of where this is done is the <a href="http://functionsource.com/post/beautiful-forms">Square credit card
field</a>, which
is not just design or programming, but really achieves synergy by combining
them.</p>

<p>Another thing is animations: a lot of designers aren&#8217;t used to this yet, mostly
designing interfaces that don&#8217;t animate. Programmers often don&#8217;t know when it&#8217;s
useful or meaningful to do an animation. They just want the button to do what
it&#8217;s supposed to do. If we both move a bit closer towards each other, I
imagine it could improve software a lot.</p>

<p>To come back to Mike&#8217;s article, when one person knows how to design and code,
there is no gap between that knowledge. A very powerful combination indeed.</p>

<p><a href="http://news.ycombinator.com/item?id=2977914">Discuss on Hacker News</a></p>{% endblock body %}