date: 27-12-2013
title: Deckset
headline: Announcing my new Mac app

{% extends "post.html" %}
{% block body %}

<p>One of the things I love is Markdown. Recently, I&#8217;ve also been giving a lot more presentations. Working in Keynote can be really nice, and is very powerful. But most of the time, I don&#8217;t need that power.</p>

<p>Therefore, <a href="http://floriankugler.com">Florian</a>, me and our awesome friends at <a href="http://www.acolorbright.com">A Color Bright</a> have spent the last months building an app that changes the way you write your presentations. You write a markdown file, separate your slides with dashes, and you get a beautiful presentation out of it. Update your markdown file, and your presentation updates automatically.</p>

<p>Over the last weeks, we&#8217;ve given multiple presentations with the app, and it&#8217;s awesome. For me, it&#8217;s great that I can just write. Rearranging text is so much easier than rearranging slides. The default themes we have are beautiful by default, and it&#8217;s really hard to mess it up. Changing to a different theme is immediate: you can do this minutes before the presentation, if you feel like it.</p>

<p>We are not building a replacement for Keynote or Powerpoint, but a different way of creating presentations. In some use cases, traditional tools are the way to go. But for many of the presentations, we think Deckset is much easier.</p>

<p>Currently, we&#8217;re putting the finishing touches on our app, and are getting it ready for private beta. We are planning to launch early 2014. If this sounds interesting to you, go ahead and sign up for the mailing list at <a href="http://www.decksetapp.com">decksetapp.com</a>, and we&#8217;ll keep you posted.</p>

<p>Have a great start of the year!</p>{% endblock body %}
