date: 25-02-2013
title: DONE
headline: What I've been up to


{% extends "post.html" %}
{% block body %}

<p>In case you haven&#8217;t noticed yet, I&#8217;m organizing an English-speaking iOS
Conference in Berlin called <a href="http://www.uikonf.com">UIKonf</a>, together with my
fellow organizers <a href="http://twitter.com/fidothe">Matt</a> and
<a href="http://twitter.com/peterbihr">Peter</a>. If you are in or around Berlin on May 2nd,
get on the <a href="http://iosinberlin.launchrock.com">mailing list</a> and come join us!</p>

<p>Organizing this conference is really awesome. It started with a question: why doesn&#8217;t this
conference exist? Then I realized that the only way to make it happen is do it yourself.
Starting something like this feels really empowering: we can definitely have an impact
on our direct environment by just doing stuff. I asked some people that are
more awesome and experienced than myself, then we executed.</p>

<p>While UIKonf is still a few months away, I am getting better at shipping, and I can
recommend you to do the same. Instead of reading this, write an article. Package
up some software or libraries you have lying around. Organize a meetup.
You&#8217;ll see that it&#8217;ll make you happy!</p>

<p>A good recommendation from my friend <a href="http://alper.nl/dingen/">Alper</a> is the <a href="http://www.brepettis.com/blog/2009/3/3/the-cult-of-done-manifesto.html">Cult
of
Done</a>
manifesto. Take a minute or two to read it, and then get back at building stuff
and shipping things!</p>{% endblock body %}
