date: 27-02-2012
title: Entitled


{% extends "post.html" %}
{% block body %}

<p>This post is inspired by Marco&#8217;s excellent piece: <a href="http://www.marco.org/2012/02/25/right-vs-pragmatic">Right versus pragmatic</a>.</p>

<p>I grew up in a small village. When I was 13, I didn&#8217;t really have money to buy
music, but I still saved up and went to the record store so I could buy
<a href="http://en.wikipedia.org/wiki/Americana_(The_Offspring_album)">Americana</a>. When
I was 15, I got my first computer-job (as a php programmer). One month, I even made 1000
guilders (which was a lot for me). On Saturdays, I would cycle to Germany with
my brother to buy CD&#8217;s at the big electronics store just across the border. For about two years, I bought a couple of CD&#8217;s per week.</p>

<p>However, around that time, my musical taste started developing to slightly more
unknown bands, and the easiest way for me to get the music was by downloading it
(I vividly remember using Kazaa and Napster, those were the days). The nearest
record store where they had a decent selection of music was a 2 hour bike ride,
which was not really an option.</p>

<p>For movies, it was the same. Once bandwidth started increasing, it just became
easier to download movies. At the movie rental, they did not have the kind of
movies I wanted to watch. I would buy them sometimes, but more often than not I
decided that I wanted to see a movie after dinner, and downloading it enabled me to watch it
the same night, rather than the next day (or even a few days later, if I had to
order it online). TV shows generally lagged behind a whole season, if they would
even broadcast them at all.</p>

<p>Pirating music, movies and also software became second nature. I didn&#8217;t think
twice about it. Money was never the reason, it&#8217;s just that it&#8217;s so much easier
to download something off of the Pirate Bay than order it online. However, after
doing this throughout my student time, money did start to matter. Once you&#8217;re
really accustomed to getting something for free, you start to feel entitled to
getting it for free. And of course, virtually all my peers did it.</p>

<p>After graduating, I hardly ever used any pirated software, except for a
certain graphics editing application. I still pirated music and movies (by the
way, in The Netherlands you are allowed to download music and movies).</p>

<p>Recently, I had some hardware problems with my hard drive. For the first time in
ever, I did a clean install. I copied back my old files, but not the pirated
music, movies or software. My laptop is 100% free of pirated content. It feels
good. My mindset has changed too: I realized I am not entitled to download it
for free.</p>

<p>I think there are lots of opportunities for entrepreneurs because of this
problem, especially in Europe. Spotify is one example, but we Europeans want to
watch movies and the latest TV shows too. At this moment, I will refrain from watching movies that are not in the cinema or available in local stores.</p>

<p>An affordable graphics editor is definitely an opportunity too.  Or maybe some
subscription-based business models: there are some expensive applications that I
would like to use for half an hour each month. For example, about once a year a
client&#8217;s designer sends me a Fireworks file. The only thing I want to do with it
is slice it up and produce some png&#8217;s.  Instead of asking the designer to do it
for me, I would rather rent an hour of Fireworks: it saves time and energy for
both me and the designer, and Adobe would make more money. Everybody would
win.</p>{% endblock body %}