title: Finding designers
headline: And how to decide whether you want to work with them
date: 24-02-2014

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

When Florian and me started working on Deckset, we realized we needed the best possible design. In every app, great design is important, but here, it's even more important: we will provide users with themes that have to look really great by default.

When we started looking for designers, there were a couple of people that came to mind, because we've worked with them before. However, with the two most serious candidates, we've had a couple of issues: even though we love what they made, the process of working with them before was not too nice. They kept on missing deadlines and not communicating that. Speaking from a client perspective, it's almost never a problem if a deadline is missed. But not getting a heads up on that is a problem.

We decided to not work with the people we knew, because we anticipated the same problems. Instead, we started browsing Dribbble, and found somebody who made some really beautiful mockups for Mac apps. We started talking with him, and asked him to make a plan.
The plan was: he had to spend a day or two making wireframes, and then he could make a better plan for the rest. Even though our phone call had been really nice, and we believed he could do it, something just didn't feel right. We couldn't really poinpoint it, but we decided not to work with him. 

We then realized: we wanted to work with the best designers possible. The guy we've been talking too was already expensive, but the outcome of hiring him felt very uncertain. We knew we had to find the very best that we can afford. We decided that, worst case, one of us would go freelancing to make as much money as possible, so we could afford the very best.

We then had a talk with Sven from A Color Bright. He got very excited about the project, and offered to help us in many possible ways (not just with the visuals, but with everything involving design: the user experience, the website, the marketing, and so on). We could tell that they had a lot of experience in working with clients. It just felt good.

A while back, I struggled to explain why it didn't feel good with the first designer. Only later, I realized that the most important thing we were looking for, is not just great design. It's also great communication. Communication is essential during a software project, especially when you don't exactly know what you're building (which, in my experience, is *always* the case when building software). I'm sometimes freelancing myself, and will need to get better at it too. From now on, I'll try to judge anybody I'll hire on a project-basis on their communication skills.

> _Aside_:
> I noticed that in all projects I've done over the last years, I preferred to sit on-site with my client. This is probably because I then hardly need to put effort into communication: when somebody has a question, it's as easy as walking over.

{% endfilter %}
{% endblock body %}
