date: 11-01-2012
title: Focus


{% extends "post.html" %}
{% block body %}

<p>When people tell me their startup idea, it often happens that they are trying to
solve a huge amount of problems. This happens mostly with people who do not have
a lot of experience in startups. These people are often very ambitious but don&#8217;t
have the skills to execute themselves.</p>

<p>For me, focus has always worked in business. The first company I started, we
didn&#8217;t really know what to do, so we told people we could program everything.
Web apps, desktop apps, highly secure apps, Haskell apps, Ruby apps, and so on.
Once we started iPhone programming and decided to only focus on that, things got
much easier.</p>

<p>When you are brainstorming, it&#8217;s good to be as broad as possible. Think about
all the problems you could solve. You will come up with many great solutions for
these problems, and it&#8217;s very tempting to use all of them.</p>

<p>I think you should pick out one problem and solve it really, really well. At least, that&#8217;s what I&#8217;m going to do in my next startup.</p>{% endblock body %}