date: 05-01-2012
title: Freeform blogging


{% extends "post.html" %}
{% block body %}

<p>In the last days, I tried to do more freeform blogging. I&#8217;ll write about
whatever&#8217;s on my mind. Some pieces might be about something I&#8217;ve been thinking
about for months, others might be something I just thought of in the shower.</p>

<p>I will try not to care too much about things like &#8216;target audience&#8217;. My goal is
to become better at writing and to help myself think. I&#8217;ll try to write again
every day, and publish it regardless of whether it&#8217;s good or bad.</p>

<p>I&#8217;m full of inspiration again, but the last few months I hardly wrote at all. I
was too busy being happy. I had some really interesting people to talk to, which
helped me think and clarify my mind. Now I&#8217;m planning my move to Berlin, where I
don&#8217;t know nearly as many people.</p>

<p>Also, everything is a bit different here, which greatly inspires me. My
commandment of German is pretty good, but there are still a lot of basic things
where I have to think about how to say it. And all the other stuff too. For example, how cyclists participate in traffic
is very different from The Netherlands. Seeing the differences in these things that I normally
take for granted brings a lot of new thoughts.</p>{% endblock body %}