date: 09-08-2011
title: Good coffeeshops in Berlin


{% extends "post.html" %}
{% block body %}

<p>If you&#8217;re a digital nomad, you are always looking for good places to work. In Berlin, there are a couple of good places with good wifi and coffee. Here is a list of the places where I like to work.</p>
<p><strong><a href="http://www.sanktoberholz.de/">St. Oberholz</a> - </strong><a href="http://maps.google.nl/maps?q=st%20oberholz&amp;um=1&amp;ie=UTF-8&amp;sa=N&amp;hl=nl&amp;tab=wl">Rosenthaler Strasse 72</a></p>
<p>This is <em>the</em> place for a digital nomad. They serve excellent coffee, have good food and it is well known for being friendly towards people with laptops. Upstairs is extra seating available. Sometimes the wifi is a bit flaky.</p>
<p><strong><a href="http://www.mein-haus-am-see.blogspot.com/">Mein Haus am See</a> </strong>- <a href="http://maps.google.nl/maps?q=mein%20haus%20am%20see">Brunnestrasse 197 - 198</a></p>
<p>Across the street from St. Oberholz, Mein Haus am See is a special place. A bit less well known, and more a bar than a coffee place. The coffee is not that good, but the wifi is a lot better than St. Oberholz.</p>
<p><strong><a href="http://www.cuccuma.de/">Cuccuma</a></strong> - <a href="http://maps.google.nl/maps?q=Cuccuma&amp;hl=nl&amp;ll=52.490777,13.394351&amp;spn=0.010779,0.019891&amp;sll=52.490614,13.394361&amp;sspn=0.011106,0.019891&amp;z=16">Zossener Strasse 34</a></p>
<p>This is my favorite place to work. They have excellent coffee, good wifi, great service and nice sandwiches. Upstairs is a kind of balcony where you can sit and work while having a nice view on the street. Close to the Bergmanstrasse which is filled with nice restaurants and shops.</p>
<p><strong><a href="http://www.blinis-espressolounge.de/">Espresso Lounge</a> </strong>- <a href="http://maps.google.nl/maps?q=espresso+lounge+berlin&amp;hl=nl&amp;ll=52.489477,13.393879&amp;spn=0.005553,0.009946&amp;sll=36.73878,-95.587706&amp;sspn=58.519471,81.474609&amp;z=17&amp;iwloc=A">Bergmanstrasse 92</a></p>
<p>A nice place to work with good coffee. They don&#8217;t really serve food, except for cake (the chocolate cake is really nice). Close to Cuccuma and on the Bergmanstrasse. In the back it&#8217;s more quiet, in the front you have a nice street view.</p>
<p><strong><a href="http://www.nstp.de/">Wendel</a></strong> - <a href="http://maps.google.nl/maps?q=wendel+berlin&amp;hl=nl&amp;ll=52.500941,13.446751&amp;spn=0.021265,0.039783&amp;sll=52.489477,13.393879&amp;sspn=0.005553,0.009946&amp;fll=52.50337,13.443103&amp;fspn=0.021264,0.039783&amp;z=15">Schlesische Strasse 42</a></p>
<p>If you&#8217;re not an early riser, Wendel might be the place for you. Fast internet and really good coffee. No real tables to work on, but very relaxed. They also have good lunch.</p>{% endblock body %}
