date: 21-11-2011
title: Hard Decisions


{% extends "post.html" %}
{% block body %}

<p>Over the last few weeks, I was asked three times (by two different companies) to
become the development lead (i.e. CTO). Both of these companies are really quite
awesome, and I can see them become very succesful (actually, one already is
quite succesful). I strongly considerd saying yes to both positions, but ultimately decided not to
do it.</p>

<p>One of the companies already makes good profits, the other one is just starting
but can become very profitable. Both of them are sort of world-changing, one
more than the other. Both companies have awesome teams.</p>

<p>Saying no was very hard for me. There are two big reasons for me not to do it:</p>

<p>One: I&#8217;m planning to leave The Netherlands again, to live abroad for a few
years. This could happen quite soon or in about a year (which is also quite soon
when you&#8217;re joining a company that&#8217;s starting). I don&#8217;t think it&#8217;s a good idea
to start something like that when you know you&#8217;re almost leaving.</p>

<p>Two: I&#8217;m really enjoying my lifestyle right now. I&#8217;m working on new ideas for
apps, building prototypes and finishing some of them, getting products out of
the door and meeting interesting people. I also run a lot, almost every day, at
the middle of the day. I&#8217;m not commuting to work, but instead working from home
or in coffee shops. If I would take a position at a startup or
regular company, it probably means commuting, and I have a lot less choice in
how I would like to spend my time.</p>

<p>With both opportunities I felt it was a quite &#8216;safe&#8217; way for me to spend my
time. Doing everything on my own feels more risky, but more rewarding because of
that.  Also, I&#8217;m becoming more and more attached to my freedom of time, and I
think that&#8217;s a good thing.</p>{% endblock body %}