date: 02-09-2011
title: How I dealt with a burnout


{% extends "post.html" %}
{% block body %}

<p>This post is the second part of my series on burnout. <a href="http://chriseidhof.tumblr.com/post/9667398258/how-i-got-a-burnout">Read the first part</a> to
know how I got there.</p>

<p>The first month after graduating, I spent exercising
and sitting on the couch. Exercising made me feel good, especially the running
pulled me through. However, still no joy in programming.</p>

<p>It is interesting to note that I didn&#8217;t feel down all the time, it was very much
work-related. Actually, most of the time I felt pretty OK. What worried me
though, is not knowing if the joy in my work would ever come back. And if it
wouldn&#8217;t, I had no idea of what career to pursue.</p>

<p>After two months, I reluctantly accepted a freelance gig. It would take
about six weeks, and the deliverables included an iPhone app, an iPad app, a web
application (both backend and frontend), and two Mac applications. It was very
interesting, and I managed to get everything done and got some money out of it
so I could pay the bills for the next few months. After the project was
done I didn&#8217;t feel like doing anything for about two months, except for drinking coffee,
running, and meeting friends. After that, I went backpacking in Spain for about
a month, and when I came back (which was about half a year about my graduation)
I finally looked forward to getting back to work again. Still, programming
didn&#8217;t give me as much joy.</p>

<p>Fast forward another 6 months, during which I did some small consulting jobs,
gave a 5-week training on iOS development, and started a startup. I felt
well rested and looked forward to programming again. And when we started
programming, it was a lot of fun. Unfortunately, the startup didn&#8217;t work, but I
realized that the worst was over.</p>

<p>I had spent about a year doing as little as possible, programming-wise. I tried
not to force myself, and tried out building stuff every now and then. My
negative feelings slowly faded. I&#8217;m not sure if this is the best approach, but
it worked for me.</p>

<p>In the last months, I have been building iOS apps on my own. I went through a major
transformation during my burnout: I now see programming as a means, not an end.
And I&#8217;m having lots of fun again.  More about that transformation and the
results in the <a href="http://chriseidhof.tumblr.com/post/9828677336/how-a-burnout-changed-my-life">next post</a>.</p>

<p><a href="http://news.ycombinator.com/item?id=2953399">Discuss on Hacker News</a></p>{% endblock body %}