date: 08-08-2011
title: How to succeed as a freelance developer


{% extends "post.html" %}
{% block body %}

<p>In this article, I will share some tips on how to succeed as a freelance developer. This is only a short list, and there is a lot more to it. As a precondition, it is important to know your tools. Make sure you can deliver.  Once you&#8217;re ready to take on jobs, you can do any of the things below. Note that most work on the long term. It&#8217;s not uncommon that somebody hires or recommends you more than a year after you met her for the first time.  </p>
<p><strong>Make sure you&#8217;re remembered for one thing</strong></p>
<p>It really helps if you are just doing one thing. For example, Ruby on Rails development. Or iOS development. Or Wordpress plugin developer. This makes it a lot easier for people to remember you. When you do &#8220;everything&#8221; people will not immediately think of you when they have a specific problem.</p>
<p><strong>Go to tech meetups</strong></p>
<p>Go to small tech meetups in your area. A few years ago, I used to go to the Amsterdam and Utrecht Ruby meetups. I met a lot of other cool techies here, some of these hired me and a lot of them recommended me (and the other way around, of course).  At big conferences, it is a lot easier to hide from socializing or to only talk to people very briefly.  The smaller the meetup, the better, because this means you will actually get to know people. </p>
<p><strong>Give presentations</strong></p>
<p>Once you go to tech meetups, you can also consider presenting there. For example, a library that you use or wrote or a side project. People will like you for giving something back and you will gain authority.</p>
<p><strong>Become active in the community</strong></p>
<p>You can become active in the online tech community as well. For example, help newbies on mailing lists. People will start to recognize your name and might approach you either online or offline to help out with their projects.</p>
<p><strong>Work in co-working spaces</strong></p>
<p>It helps to work in a place with lots of other small companies, such as a co-working space or incubator. If one of the companies in the same space is looking for a developer and they can just walk to your office you&#8217;re a big step ahead of the competition. I would almost always prefer hiring somebody I met in real life over somebody I only met over the phone or online.  </p>
<p><strong>Use social media</strong></p>
<p>Blogging and social media like Twitter can give you more visibility. People can find you instead of you having to find them. When <a href="http://twitter.com/eelco">Eelco</a>, <a href="https://twitter.com/#!/martijnreintjes">Martijn</a> and I started building an iPhone game a few years ago (a few months after the SDK was released) we tweeted about it. We didn&#8217;t plan to become iPhone developers, but the market was just <em>demanding</em> it after we tweeted about it.</p>
<p>When I still was part of <a href="http://tupil.com/">Tupil</a>, we blogged about Haskell every now and then, which (among other things) gave us quite some visibility within the Haskell community, and here too we had multiple requests from potential clients.</p>
<p><strong>Discussion</strong></p>
<p>There are a lot of other ways to get clients. I look forward to seeing your tips and tricks, please share them in the <a href="http://news.ycombinator.com/item?id=2861072">discussion at Hacker News</a>.</p>{% endblock body %}
