date: 05-09-2011
title: How a burnout changed my life


{% extends "post.html" %}
{% block body %}

<p>In the previous two posts, I wrote about my burnout. First about how I got it,
then about how I dealt with it. I have the feeling it has changed me
permanently, but mostly in a good way.</p>

<p>I don&#8217;t work as hard anymore. I don&#8217;t want to work weekends and evenings. Of
course, every now and then I feel the urge to do something, but I try to
resist. I read more, and take more time to socialize.</p>

<p>My job has changed from mostly programming to building products. This includes
programming, but also marketing, strategy, design, meeting people, writing and
more. For me, this is a more healthy mix at the moment. It&#8217;s a big difference
from freelancing.</p>

<p>The biggest change was that <em>I see programming as a means, not an end</em>. This
manifests itself in a number of ways. I&#8217;m not trying to write the perfect
program, framework or language anymore. They don&#8217;t exist.</p>

<p>Also, I don&#8217;t want to use Haskell for everything anymore. I don&#8217;t feel
frustrated by using Objective C for iPhone programming, or Ruby for web
programming. Whatever gets the job done fastest. Every now and then I think
about building a better language, and maybe I will someday, but not now.</p>

<p>For almost every problem, I try to find existing libraries. I did not suffer
badly from the Not Invented Here
Syndrome before, but now it got even
better. I try to reuse code wherever possible, whether it&#8217;s somebody else&#8217;s code
or my own.</p>

<p>So far, I&#8217;m actually happy for the experience. A burnout is no fun, and it
was scary for me, afraid that I would never be able to go back. I am confident that I now
have found a better balance, and that I will be able to prevent it in the
future. We&#8217;ll see!</p>

<p><a href="http://news.ycombinator.com/item?id=2961692">Discuss on Hacker News</a></p>{% endblock body %}
