date: 17-10-2011
title: How I Will Design My App Website


{% extends "post.html" %}
{% block body %}

<p>For Met, I need to design and build a website, and in this post I&#8217;ll show
some of best the app websites I&#8217;ve bookmarked and try to explain why I like
them. My definition of &#8220;best&#8221; in this case mostly means beautiful. I don&#8217;t know
how they convert visitors or any other performance, so that&#8217;s something I need to measure myself.</p>

<p><strong>Screenshots</strong></p>

<p>Perhaps the most important part of an app website are the screenshots. All the
great app websites have good screenshots on their websites. The screenshot is
never just a screenshot, but always shown with the iPhone around it. Great examples
are <a href="http://geteeve.com/">Eeve</a> and <a href="http://thecocktailapp.com/">Cocktails</a>. How not to do it is shown on my own <a href="http://eidhof.nl/trackme">TrackMe</a> website.</p>

<p><a href="http://aplusplus.org/">Uli</a> also once said to me that the iPhone should
always be shown on a real background. <a href="http://with.me/">With</a> is a perfect
example of this: they show people meeting each other on the background.</p>

<p><strong>Good one-sentence explanation</strong></p>

<p>All the good app websites have one sentence that explains what they do, either
as the logo subtitle or just in a bold font:</p>

<ul><li><a href="http://flipboard.com/">Flipboard</a> - &#8220;This is your Flipboard. It&#8217;s your social
magazine, now with more to enjoy&#8221;</li>
<li><a href="http://with.me">With</a>  - &#8220;A fun, simple way to share who you&#8217;re with&#8221;</li>
<li><a href="http://campl.us/">Camera+</a> - &#8220;The ultimate photo app&#8221;</li>
<li><a href="http://www.sylion.com/flightcard/">Flight Card</a> - &#8220;Your boarding pass,
reinvented&#8221;</li>
</ul><p><strong>Start with the important things</strong></p>

<p>When you open most of the websites, you see a logo, the screenshots, a brief
explanation and a &#8220;Download on the App Store&#8221; button, not much else. If you want
more information, sometimes you can scroll or page through the screenshot. On other websites, you can scroll down and see
more things, such as testimonials, feature lists and contact info.</p>

<p>As a non-designer, that&#8217;s the elements I could find in common. I will keep these
things in mind when I design the website for Met this week. If you know of any
other good ideas or app websites, let me know, and I&#8217;ll update the post
accordingly.</p>{% endblock body %}