date: 01-09-2011
title: How I got a burnout


{% extends "post.html" %}
{% block body %}

<p>This post is the first part of a three-part series on burnout.  Two years ago, I told my then co-founder Eelco that I would leave the company in a few months. I didn&#8217;t have a lot of fun programming anymore. We were a consulting company, building iPhone apps for clients.</p>

<p>We started the company during our Master&#8217;s, where we would program in Haskell all the time. However, iPhone apps are built in Objective C, which is almost the opposite in language design: Objective C is designed to be very practical and with a lot of low-level control, whereas Haskell started as a pure, math-like language and moved towards a more practical language. I found Haskell a lot more beautiful, for many reasons, and wanted to program in Haskell full-time.</p>

<p>Fast-forward three months later, and we just got a request for a client project: it had to be done within two weeks, but we estimated it to be three weeks. We put in a lot of extra hours, cancelling all social appointments and working evenings and weekends. It was my last gig with the company, I didn&#8217;t want to let Eelco or the client down and could use the money. After that, I was really, finally, completely done with both iPhone programming and client work. I did not feel good about it at all.</p>

<p>I took a few days off and then proceeded to work full-time on my Master&#8217;s thesis, which was about web programming in Haskell. During high school and my bachelor&#8217;s, I had always tried to avoid putting effort into studying. However, my Master&#8217;s was so awesome that I, for once, wanted to try to get good marks. Before I started my thesis I was completely on track for graduating cum laude, which had been my goal for two years. However, after I handed in my thesis, I got graded an 8.0 (out of 10), whereas the requirements for cum laude where at least an 8.5. My supervisors told me they even considered giving me a 7.5. A major setback.</p>

<p>Also, during my work on web programming in Haskell I realized that practical web programming in Haskell still had a long way to go. Not only the tools, but also the community. For example, building something similar to Ruby on Rails is not that hard, but having the ecosystem that Rails has is very hard to replicate.</p>

<p>After handing in my thesis, I couldn&#8217;t bring myself to programming. This was what I had been doing since I was 12, it was my hobby, my study, big part of my social life, and my income. And I didn&#8217;t like it anymore. It was hard to believe for me: before, I just couldn&#8217;t tear myself away from it. I was always either building stuff or reading about it. Now it felt like it was over.</p>

<p>In <a href="http://chriseidhof.tumblr.com/post/9700449196/how-i-dealt-with-a-burnout">part 2</a> I write about how I dealt with it.</p>

<p><a href="http://news.ycombinator.com/item?id=2950333">Discuss on Hacker News</a></p>{% endblock body %}