date: 10-08-2011
title: I shipped my first product


{% extends "post.html" %}
{% block body %}

<p>Today, the first version of <a href="http://eidhof.nl/trackme/">TrackMe</a> is available
from the <a href="http://itunes.apple.com/us/app/trackme/id454704336?ls=1&amp;mt=8">App Store</a>. This is my first product as an indie developer, and even though it&#8217;s very simple, I&#8217;m proud to have gone through the cycle of getting the idea, building it and releasing it.</p>

<p>As you can read in my post <a href="http://chriseidhof.tumblr.com/post/8336661854/the-big-plan">The Big Plan</a>, one of the things I find difficult is shipping software. Specifically: my own software. It&#8217;s different when you build something for a client or for a boss.</p>

<p>I already submitted the next update to the App Store, as I accidentally didn&#8217;t check whether the retina icon was working, and I fixed a small bug.</p>

<p>I am strongly thinking of open sourcing the app as well (next to having it in the App
Store). My guess is that this will help people to analyze and trust the app, and
that it might be free promotion. What do you think?</p>

<p>Please leave your comments in the <a href="http://news.ycombinator.com/item?id=2867428">Hacker News discussion</a>.</p>{% endblock body %}