date: 13-02-2012
title: I Use This


{% extends "post.html" %}
{% block body %}

<p>I was inspired by people writing about their setup on <a href="http://usesthis.com/">The
Setup</a>, so I decided to write about my own setup.</p>

<p><strong>Hardware</strong></p>

<p>I use a Mid 2010 Macbook Pro 15&#8221; with an SSD. I only switched last week, when my
old hard drive was about to die. I don&#8217;t use any external screen, keyboard or
mouse. Because I travel a lot and work from pretty much everywhere, the HD
display is really convenient. I would like a more lightweight laptop, but don&#8217;t
feel like compromising on the screen size.</p>

<p>I also carry around an iPhone, and a very basic A4 note taking pad. The
last one is essential, I like taking notes and doing sketching on real paper. I
own an iPad, but don&#8217;t use it that much (mostly for development). For reading, I
have a Kindle (which is probably the device I treasure the most).</p>

<p><strong>Development</strong></p>

<p>Being an iOS developer, I spend most of my working hours in XCode. It&#8217;s not the most advanced IDE, but I think it&#8217;s important to stay with the tools Apple
provides. To be fair, I don&#8217;t hate it either. And it keeps getting better with
every release, although it lacks features that were in Eclipse many years ago.</p>

<p>When I&#8217;m not doing iOS development, I use
<a href="http://code.google.com/p/macvim/">MacVim</a>. I write all my other code in
it, and do lots of text editing in it (this blog post is written in MacVim). I
started learning Emacs as well, but the many years of learning vim make me feel
slow in any other editor.</p>

<p>For versioning, I only use Git. I do think it has a bad interface and often have
problems remembering the exact commands. One of the things that did help me
understand git a bit better was the chapter on <a href="http://book.git-scm.com/1_the_git_object_model.html">The Git Object Model</a> in the git community book.</p>

<p>I recently changed my default shell from bash to
zsh, and I really like it. I installed <a href="https://github.com/robbyrussell/oh-my-zsh">Oh My
Zsh</a> which provides you with awesome
defaults and plugins. (Thanks for pointing it out to me Maik).</p>

<p><strong>Other</strong></p>

<p>For browsing, I use Chrome. I like the speed and minimalism of it.</p>

<p>For note taking, I use Evernote. It works on my Mac, iPhone and iPad. And it&#8217;s
really easy to have shared notebooks. Although I can definitely imagine a better
product, it does the job.</p>

<p>Another important app for me is <a href="http://www.omnigroup.com/products/omnifocus/">OmniFocus</a>. I practice <a href="http://en.wikipedia.org/wiki/Getting_Things_Done">GTD</a> and OmniFocus helps me keep my current projects and next actions organized. Any other GTD stuff I have is in Evernote.</p>

<p><a href="http://www.acrylicapps.com/wallet/">Wallet</a> takes care of my passwords. It
integrates nicely with Chrome, so I never have to remember all my different
passwords.</p>

<p>I used to run a mail server with my friends, but switched to GMail last year. I
think Google probably takes better care of my data than I could do myself. I
wouldn&#8217;t mind switching to a better, paid service which gives me good guarantees
about my data.</p>

<p>Most people don&#8217;t talk about this, but for exploring darker corners of the
internet, I use the VPN service by IPredator. It gives me at least some sense of
security.</p>

<p><strong>Backups</strong></p>

<p>For backups, I put a lot of stuff in my Dropbox folder. Also, I have
<a href="http://www.backblaze.com/">Backblaze</a> installed which backs everything up
online. And finally, I have an external hard drive for Time Machine backups.</p>{% endblock body %}
