date: 16-12-2012
title: Implementing Value Objects in Objective C 


{% extends "post.html" %}
{% block body %}

<p><a href="http://en.wikipedia.org/wiki/Value_object">Value Objects</a> are objects that hold simple data. This article is about creating such value objects. I use them a lot in my code, because they are robust and keep the code simple. Note that it&#8217;s not about <code>NSValue</code>, but about simple objects with simple data.</p>

<p>Implementing value objects should be easy, but there are some slightly
tricky bits. So let&#8217;s look at the requirements:</p>

<ul><li>We want to create value objects quickly (i.e. an <code>initWith:</code>)</li>
<li>The created objects should be immutable</li>
<li>The created objects should be equal when they have equal values</li>
</ul><p>Suppose we want to create <code>Person</code> objects with properties <code>name</code> and <code>birthDate</code>, then our interface looks like this:</p>

<pre><code>@interface Person : NSObject
- (id)initWithName:(NSString*)name birthDate:(NSDate*)birthDate;
@property (nonatomic, copy, readonly) NSString* name;
@property (nonatomic, strong, readonly) NSDate* birthDate;
@end
</code></pre>

<p>The important thing to notice here is that the properties are
<code>readonly</code>. However, the modern runtime still generates instance
variables for us, that are prefixed by a <code>_</code>. Our implementation looks
like this:</p>

<pre><code>@implementation Person

- (id)initWithName:(NSString*)name birthDate:(NSDate*)birthDate {
  self = [super init];
  if(self) {
    _name = [name copy];
    _birthDate = birthDate;
  }
  return self;
}
@end
</code></pre>

<p>In the modern runtime, you don&#8217;t have to use <code>synthesize</code>. If you do,
then your instance variables get different names (without the
underscore).</p>

<p>Now for the equality, we implement the method <code>isEqual:</code>. There is an
<a href="http://www.mikeash.com/pyblog/friday-qa-2010-06-18-implementing-equality-and-hashing.html">excellent article</a> by Mike Ash, however, there is a mistake in there. Following his advice, our first (incorrect) implementation looks like this:</p>

<pre><code>- (BOOL)isEqual:(id)obj {
  if(![obj isKindOfClass:[Person class]]) return NO;

  Person* other = (Person*)obj;
  BOOL nameIsEqual = [_name isEqual:other-&gt;_name];
  BOOL dateIsEqual = [_date isEqual:other-&gt;_date];
  return nameIsEqual &amp;&amp; dateIsEqual;
}
</code></pre>

<p>There is a problem here: if one of the two properties is <code>nil</code>, then
<code>isEqual:</code> will return <code>NO</code>. This is because methods sent to <code>nil</code>
always return <code>NO</code>, <code>0</code> or <code>nil</code>. Even <code>[nil isEqual:nil]</code> returns <code>NO</code>.</p>

<p>Therefore, our second, correct implementation looks like this:</p>

<pre><code>- (BOOL)isEqual:(id)obj {
  if(![obj isKindOfClass:[Person class]]) return NO;

  Person* other = (Person*)obj;
  BOOL nameIsEqual = _name == _other-&gt;_name || [_name isEqual:other-&gt;_name];
  BOOL dateIsEqual = _date == _other-&gt;_date || [_date isEqual:other-&gt;_date];
  return nameIsEqual &amp;&amp; dateIsEqual;
}
</code></pre>

<p>To implement the hashing function, I would like to recommend following Mike&#8217;s advice.</p>

<h1>Bonus</h1>

<p>Finally, as a bonus, let&#8217;s also implement <code>NSCoding</code>, so we can
serialize our objects. First change the interface of <code>Person</code> to this:</p>

<pre><code>@interface Person : NSObject &lt;NSCoding&gt;
</code></pre>

<p>The implementation is now very simple:</p>

<pre><code>- (id)initWithCoder:(NSCoder*)aDecoder {
  self = [super init];
  if(self) {
    _name = [aDecoder decodeObjectForKey:kName]; 
    _date = [aDecoder decodeObjectForKey:kDate]; 
  }
  return self;
}

- (void)encodeWithCoder:(NSCoder*)aCoder {
  [aCoder encodeObject:_name forKey:kName];
  [aCoder encodeObject:_date forKey:kDate];
}
</code></pre>

<p>The two constants <code>kName</code> and <code>kDate</code> are declared in the implementation
file, above the <code>@implementation</code> directive:</p>

<pre><code>static NSString* const kName = @"name";
static NSString* const kDate = @"date";
</code></pre>

<p>Voila, now we can create objects, read their properties, serialize them
to disk and read them back in. Some catches: when you add a new
property, you have to make sure to update the code in lots of places:</p>

<ol><li>Add the property to the interface file</li>
<li>Add the parameter to <code>initWith:</code>, and also update the callers of that
method</li>
<li>Add a comparison to <code>isEqual:</code></li>
<li>Update the <code>hash</code> function</li>
<li>Add the method to both <code>initWithCoder:</code> and <code>encodeWithCoder:</code></li>
</ol><p>It helps to have some tests in place that check this for you.</p>

<p>The full code of the examples (without the <code>hash</code> function) is <a href="https://gist.github.com/78b3ce0edbcdf0d202e2">on github</a>.</p>

<p><em>Update</em>: changed the <code>name</code> attribute to be <code>copy</code> instead of <code>strong</code>, <a href="https://twitter.com/CocoaPimper/status/280335607971074050">thanks to Christian Kienle</a></p>{% endblock body %}
