date: 08-10-2011
title: iOS products are a local optimum


{% extends "post.html" %}
{% block body %}

<p>This morning, I was sitting in the booming heart of Seville, sipping my café con
leche and reading <a href="http://zackarymorris.tumblr.com/post/10973087527/the-state-of-the-art-is-terrible">The
State of the Art is
Terrible</a>
by Zack Morris. A great read indeed.</p>

<p>It then finally dawned on me: most apps are a local optimum. This includes
most of the apps I&#8217;ve worked on, including the most successful ones. Another
fine example is the gorgeous <a href="http://itunes.apple.com/nl/app/thermo/id414215658?mt=8">Thermo</a> app. Even though I love using it, it is just
another way to view the weather forecast. It hardly adds any value to the world.</p>

<p>I disagree with Zack about whether the iPad is changing computing. I think it
does, because it opens up computing to a much bigger audience. It makes it more
accessible for big groups of people (very young people, old people and people who
aren&#8217;t technically minded). This is a big step forward.</p>

<p>However, most of the things you can do on an iPad were possible on desktop
computers as well. We are advancing, but the applications don&#8217;t necessarily get
smarter. Most of the applications that get released are just a beautiful
skin with basic functionality.</p>

<p>Now, I don&#8217;t think all hope is lost. Even though we aren&#8217;t creating smarter
applications yet, we at least have improved one massively important factor:
usability. Now is the time to put our CS degrees to good use and make the
applications more intelligent. I think Siri is a great example of this. It&#8217;s
very advanced, but they hid everything behind the most simple user interface
possible.</p>

<p>As for me, I&#8217;m sticking to making relatively simple applications, for now. I don&#8217;t
mind the local optimum. I&#8217;ll try to set up a passive income so I
can work on bigger things. Hopefully, it won&#8217;t be very long before I get there.
Also, I have so much to learn regarding the building of products, designing and
marketing, which will be very useful once I will build bigger things.</p>

<p>I don&#8217;t think the MVP strategy will take us to huge innovations. It is
great for the products I want to build now, but for really big things, we
probably need a different strategy. This is also expressed in the article <a href="http://www.nytimes.com/2011/10/07/opinion/the-man-who-inspired-jobs.html">The
Man Who Inspired
Jobs</a>. I
especially liked the quote:</p>

<blockquote>
  <p>Market research is what you do when your product isn’t any good.</p>
</blockquote>

<p>However, you have to have the right background to say this. For an entrepreneur
like me, with hardly any experience, this is not true. I&#8217;ll make sure to get my
experience in building products, and then I&#8217;ll try to build bigger things.</p>

<p><a href="http://news.ycombinator.com/item?id=3087757">Discuss on Hacker News</a></p>{% endblock body %}