date: 06-09-2011
title: "I've got an idea for an app"


{% extends "post.html" %}
{% block body %}

<p>I&#8217;ve been an iPhone developer for over three years now. The first app I built
was CookieCombo. We sold enough copies to go bowling twice, but still it was
completely worth it. We tweeted about it, and got some awesome gigs out of that.
Everybody was in need of iPhone developers, and there was a huge shortage. Good
times.</p>

<p>As more and more people got to know that I&#8217;m an iPhone developer, I got to hear
the following phrase more often: &#8220;Hey, you know, I got a great idea for an app&#8221;.
It started with tech-savvy people saying this, but now it seems like everybody and their
mother has an idea.</p>

<p>I&#8217;m a nice guy, and always try to listen to people. I subscribe to the belief
that ideas aren&#8217;t worth anything, and that it all comes down to good execution.
The ideas I hear invariably end with: &#8220;I only need someone to build this&#8221;. If
it&#8217;s a bad idea, I try explain why. If it&#8217;s a good idea, I try to explain the
amount of work they have to do to make it into a success.</p>

<p>I once jokingly said that I should print some small cards with &#8220;No, I won&#8217;t
listen to your app idea&#8221; and hand them out at parties whenever people approached
me. Because I want people to like me, I didn&#8217;t do it.</p>

<p>However, a month ago I got an email from a friend of my brother&#8217;s about a <em>secret</em>
app idea. Those are often the worst. He wanted to have a Skype meeting, and I said: &#8220;Sure, let&#8217;s do that. I
probably won&#8217;t have time to build it, but at least I can help you and point out
the technical difficulties&#8221;.</p>

<p>His idea is just awesome. That&#8217;s when I decided: always listen to ideas.
Most of them are probably another fart app, or a social network for sharing
pictures of coffee, but even if the odds are very small that it&#8217;s a good idea,
the potential payoff for executing a great idea could be huge.</p>

<p><a href="http://news.ycombinator.com/item?id=2965053">Discuss on Hacker News</a></p>{% endblock body %}
