date: 07-11-2011
title: Met has launched


{% extends "post.html" %}
{% block body %}

<p>Today is the official release of <a href="http://met.io/">Met</a>. I will send out a press release to all the
Dutch iOS websites, and will send out an press release in English tomorrow. The last
few weeks have been quite an adventure. I documented all the steps of building
Met on this weblog, starting with choosing an idea and ending with submitting it
to the App Store.</p>

<p>For those that haven&#8217;t read the story yet: Met is an application that allows you
to take notes on people. If you meet a lot of people, it can be easy to forget
important things about them. By writing done some quick notes after a meeting
you can remember those details.</p>

<p>Here&#8217;s a quick summary of the last few weeks:</p>

<p><strong>Week 1</strong></p>

<p>I started with a blog post explain the <a href="http://chriseidhof.tumblr.com/post/10680838726/one-app-in-four-weeks-kickoff">three different app
ideas</a>
I considered for this project. I then <a href="http://chriseidhof.tumblr.com/post/10723613553/check-in-to-people">chose the idea for
Met</a>, and
designed a MVP, based on all the comments I got from people. 
The next day, I
<a href="http://chriseidhof.tumblr.com/post/10801169656/sketches-and-ideas">sketched some
ideas</a> and
wrote up my thoughts at the <a href="http://chriseidhof.tumblr.com/post/10842079067/one-app-in-four-weeks-week-1">end of week
1</a>,
and also included some first screenshots (man, that looks so different from the
current state Met is in).</p>

<p><strong>Week 2</strong></p>

<p>At the <a href="http://chriseidhof.tumblr.com/post/10976458593/start-of-week-2">start of week
2</a>, I did some
code cleanup, and tried to define the next steps: get the basic functionality
done and thought of <a href="http://chriseidhof.tumblr.com/post/11023935286/selecting-people-faster">a better way to select people</a> (which is an action you
perform a lot, so it has to be fast).</p>

<p>The <a href="http://chriseidhof.tumblr.com/post/10976458593/start-of-week-2">end of week
2</a> was strange:
working on other projects, not feeling productive, thinking and designing. After
a day of designing, I threw all the designs away and stayed with Apple&#8217;s default design.</p>

<p><strong>Week 3</strong></p>

<p>Week 3 started with releasing a beta version and <a href="http://chriseidhof.tumblr.com/post/11269801237/beta-and-branding">thinking about the
branding</a>.
After reading that post, Jurriaan sent me <a href="http://chriseidhof.tumblr.com/post/11323208696/introducing-met">an awesome name
suggestion</a>. I
defined the next actions and set to work. I implement <a href="http://chriseidhof.tumblr.com/post/11362285888/rotation-fun">support for device
rotations</a>, which
is essential for fast typing (as the landscape layout gives you a bigger
keyboard). I posted <a href="http://chriseidhof.tumblr.com/post/11397933121/new-build-and-screenshots">some
screenshots</a>
and wrote about <a href="http://chriseidhof.tumblr.com/post/11443510002/week-3-an-app-in-four-weeks">my experiences so
far</a>.</p>

<p><strong>Week 4</strong></p>

<p>The last week was a bit chaotic, as I was doing some personal projects. I
did <a href="http://chriseidhof.tumblr.com/post/11566614614/how-i-will-design-my-app-website">research on app
websites</a>,
and picked a few I really liked. I tried to identify the important things they
have in common. I wrote about my <a href="http://chriseidhof.tumblr.com/post/11615742534/new-build-first-website-press-plans">press
plans</a>
and finally
<a href="http://chriseidhof.tumblr.com/post/11986052385/met-in-the-app-store">submitted</a> Met to the App Store</p>

<p><strong>Closing thoughts</strong></p>

<p>My goal was to help other people by documenting the process of building an app.
Additionally, I expected to get some attention by doing it, which would
hopefully increase sales a bit. However, I didn&#8217;t expect that people would be so
helpful, giving me lots of suggestions, ideas and tips. Just awesome.</p>

<p>Half of the beta testers gave me really useful comments. This helped improve the
app a lot. The other half said &#8220;I guess it&#8217;s not for me&#8221;, which is only fair.</p>

<p>I am really excited to see how the launch goes. I&#8217;m a bit afraid that I might
have built something that nobody wants to use, but on the other hand: I use Met
myself, daily, and I really like it. It&#8217;s already proven to be very useful!</p>

<p>If you want to use Met yourself, please <a href="http://itunes.apple.com/us/app/met-take-notes-about-the-people/id476264034?ls=1&amp;mt=8">buy it in the App Store</a>.</p>{% endblock body %}