date: 04-01-2012
title: My perfect co-founder


{% extends "post.html" %}
{% block body %}

<p>Being a programmer, I have long thought about my ideal co-founder. I&#8217;ve started
a company with somebody who&#8217;s got almost the same skillset as I have (except
that he could do bookkeeping as well). This worked for two years, but I
didn&#8217;t like the direction we were going in. After that, I started a startup with
a mathematician, analyzing big data. Here, we couldn&#8217;t agree upon the product, and weren&#8217;t to good at selling ourselves.</p>

<p>After that, for a long time, I thought I needed a designer as my ideal
co-founder. All of the startups I look up to have great design. However, in
recent months, and especially after talking with friends, I realized I need
somebody else: a business guy. Somebody who likes talking to and finding
clients, knows all about startups, building products, has good tech experience,
can see the future of mobile and data, and so on. Somebody who can sell. Somebody who&#8217;s not always nice, and who can negotiate and fire people if necessary.</p>

<p>It&#8217;s going to be hard to find this person. I&#8217;m going to live in Berlin, where I don&#8217;t know as many people as in The Netherlands. Still, I&#8217;m sure he
or she exists, as I know a couple of these people already (who are busy doing
their own startups).</p>{% endblock body %}