date: 31-01-2013
title: New Things


{% extends "post.html" %}
{% block body %}

<p>Over Christmas, I read <a href="http://www.amazon.de/Antifragile-Things-That-Gain-Disorder/dp/1400067820">Antifragile</a> by Taleb. The book has had quite an impact on me, and I decided to change some things. Long story short: I want to be open to positive black swans. A positive black swan is an event that will happen with a low probability, but if it does happen, it has a big impact.</p>

<p>Taleb&#8217;s strategy for investing is to invest mostly in very safe things, and
make small bets with a limited downside, but an unlimited upside. He calls this
the dumbbell strategy.  Applied to my own business as a freelance software
developer, this means that I will be continuing and expanding my  freelancing
business for most of the time.  But I am also spending time on projects that
have a limited cost, but an unlimited upside. I&#8217;m not expecting that most of
these projects will be a wild success, but you only have to win big once&#8230;</p>

<p>One of these projects is organizing a conference. This will definitely not have an unlimited financial upside (best case, we might make a little bit of money, but it would be way more effective to spend that time freelancing). However, I do think that very nice things will happen because of this: meet more people, get known a bit better in the tech scene, and work together with really interesting people.</p>

<p>Also, I have a renewed focus on building and maintaining my own apps. I&#8217;m working on an update for <a href="http://eidhof.nl/trackme">TrackMe</a> (I know it needs a better website and UI). I have some other interesting ideas for new apps too, hopefully I can move some of these projects forward so they can be released publicly.</p>

<p>On a personal level, I am planning to go to more parties. This is directly copied from Taleb. At parties, you have a chance of meeting very interesting people. Probably at most parties you&#8217;ll have a good time, but won&#8217;t meet anybody new who&#8217;s interesting. However, when you do, all the other parties will have been worth it.</p>

<p>Also, I want to work together with more people. One of the ways this will happen is having an office instead of working from home. Another way will be by hiring more people. If you&#8217;re interested in learning iOS Development, or if you&#8217;re a copywriter, get in touch.</p>

<p>I wonder how this strategy will work. I see it as something long-term, the payoff might only come in a decade. Let&#8217;s see.</p>{% endblock body %}