date: 13-10-2011
title: New build and screenshots


{% extends "post.html" %}
{% block body %}

<p>A new build should arrive in the inbox of the beta testers right about now. It&#8217;s
almost the same as described yesterday, except with less bugs. My energy is a bit low today,
so instead of text, here are some screenshots of the current state of the app.</p>

<p><img src="http://dl.dropbox.com/u/1264810/blog-content/passcode-screen.png" alt="Passcode screen"/><img src="http://dl.dropbox.com/u/1264810/blog-content/portrait-entering-note.png" alt="Entering a note in portrait mode"/><img src="http://dl.dropbox.com/u/1264810/blog-content/landscape-entering-note.png" alt="Entering a note in landscape mode"/><img src="http://dl.dropbox.com/u/1264810/blog-content/contact-notes.png" alt="Listing all notes for a contact"/></p>{% endblock body %}
