date: 18-10-2011
title: New build, first website, press plans


{% extends "post.html" %}
{% block body %}

<p>Yesterday I released a new build. In this version, you can also change the date of
events (which means you can add past events) and add new contacts from within
the app.</p>

<p>Today I set up a <a href="http://eidhof.nl/met/">first webpage</a> for Met. I really like the design of With, and I let
myself be inspired. Admittedly, the website is quite
minimal, but I think it should be enough (for now). I also found a good domain
name, which I&#8217;m in the process of registering now.</p>

<p>I want to do multivariate testing on the website background, slogan and text,
but can of course only do this once I&#8217;ve got some traffic going. Which raises
another question: how are people going to find me?</p>

<p>In the past, I&#8217;ve had good experiences with sending press releases to Dutch
weblogs such as <a href="http://iphoneclub.nl">iPhoneClub</a> and
<a href="http://www.onemorething.nl/">OneMoreThing</a>. In addition to this, I 
also would like to get featured on English-language iPhone sites, and sites such
as <a href="http://lifehacker.com/">LifeHacker</a>. First I need to compile a list of
sites that could potentially feature me, then I need to write a press release
and send it to all of them.</p>

<p>As always, if you have tips or suggestions let me know.</p>{% endblock body %}
