date: 21-09-2011
title: Niche and Top Lists apps


{% extends "post.html" %}
{% block body %}

<p>At yesterday&#8217;s CocoaHeads meetup, I was discussing with Ben the marketing
strategy for his app, <a href="http://boonbits.com/captio/">Captio</a>. It is aimed at people who want to capture their
notes quickly: as soon as you open the app, it shows an input field, end when
you press <em>Send</em> the note is emailed to yourself. It&#8217;s been my favorite app for
a long time.</p>

<p>The problem with Captio is that it is mostly useful for a niche group: people
who capture their ideas a lot. Ben asked me if I know ways of getting more
customers. I told him his target audience needs to read about it, for example on
lifehacking and Getting Things Done sites. He told me they already do.</p>

<p>So this is when I realized again the clear difference between apps: your apps
are either a niche or a top-lists app. If you build a niche app, you have to be
findable. Make sure your audience reads about you in their favorite publications
(whether it&#8217;s online or offline), and make sure they can find you in the App
Store.</p>

<p>If you build a top-lists app, make sure you get to the top lists. Your audience
is going to be very big, and it&#8217;s going to be hard to market them. To do this,
your app needs to be extremely awesome or you need to be very good at marketing (or both).</p>

<p>I don&#8217;t think there&#8217;s much in between these two categories. Sure, those apps
exist, but they probably don&#8217;t sell a lot. So with every app your making, ask
yourself the question: is it going to be niche and findable, or am I planning to
win the lottery?</p>

<p><a href="http://news.ycombinator.com/item?id=3021111">Discuss on Hacker News</a></p>{% endblock body %}
