date: 03-01-2012
title: On Breakups


{% extends "post.html" %}
{% block body %}

<p>Not too long ago, I went through a breakup, or to put it another way: I got dumped.
Fortunately, this wasn&#8217;t the first time I went through a breakup. Everybody
handles it differently, but these are the sort of things that help me deal with
it:</p>

<p>I meet a lot of friends and talk about it. I go out to bars where nice girls
hang out, just to reassure myself that there are more girls out there. I try to
sleep a lot, eat healthy, exercise: take good care of myself. I change something in my
life, sometimes radical, sometimes not so radical. Make some new friends.</p>

<p>I never come back together, and don&#8217;t even consider the possibility. This makes
letting go easier. Until I&#8217;m completely over it, and longer, I try to minimize
the contact. I accept the situation, no matter what the reasons for the breakup
are. Even if I don&#8217;t know the reasons.</p>

<p>After living together, moving out of the place makes it easier. Otherwise
I&#8217;ll keep hoping she might be there when I hear a noise or get home.</p>

<p>Breakups suck for the most part, but there are upsides too: I have a lot
more free time. I can do whatever I want to, no concessions. I will fall in love again.
And perhaps the biggest, most immediate upside: I&#8217;m reminded once again
that I&#8217;ve got awesome friends and family (thanks guys!).</p>{% endblock body %}