date: 02-08-2011
title: On Berlin


{% extends "post.html" %}
{% block body %}

<p>Ever since I first got to Berlin, about 7 years ago, I fell in love with the city. Four years ago I spent my first summer in Berlin, living in Prenzlauer Berg. The city offers all I wanted: awesome parties, cheap rents, easy to find a house, very diverse but low-priced food, lots of other young people, very laid back and quite alternative.</p>
<p>Now it&#8217;s 2011, and I love Berlin even more. It&#8217;s a really good place now to do a startup, as you have lots of other people doing startups, cheap office space, and all of the things mentioned above. However, as this is the third time I spent the entire summer in Berlin, things have changed a little. While the city is still as cool as ever, I changed. I don&#8217;t feel the same excitement anymore.  The city really has become a comfortable place for me, with all my favorite hang outs.</p>
<p>At this moment in my life, I want to travel. Not a different city every day, but switch cities every few months. Now that I have the time and money, I should also just do that. I&#8217;ll start with Granada in September, and not sure where I&#8217;ll go after that. On my list are currently Istanbul, Budapest, NYC, SF, Portland, Indonesia, Thailand, Greece and Buenos Aires. I expect this list to keep growing as I see more and meet more interesting people.</p>
<p>As for Berlin, I can really see my self settle down here, but not now. The city is just awesome. For those that haven&#8217;t been here: you must go. It is still my favorite city. Berlin: it&#8217;s not you, it&#8217;s me. I hope we can still be friends.</p>{% endblock body %}