date: 29-08-2011
title: On Minimalism


{% extends "post.html" %}
{% block body %}

<p>A few years ago, I first read <a href="http://www.paulgraham.com/stuff.html">Stuff</a> by Paul Graham. The article really resonated with me, even though I was living in a small room at the time and didn&#8217;t have that much stuff. In recent months, I have been discussing similar topics with some of my friends, philosofying about <a href="http://en.wikipedia.org/wiki/Simple_living">Minimalism</a>, <a href="http://en.wikipedia.org/wiki/Stoicism">Stoicism</a> and <a href="http://en.wikipedia.org/wiki/Buddhism">Buddhism</a>. Since then, I have been actively trying to get rid of more stuff and making my life simpler in general. Below I discuss a couple of ways in which I implemented this:</p>

<p><strong>Less stuff</strong></p>

<p>The first step is to have less stuff. Before I moved to Berlin, I got rid of most of the things I own. I still have some things in storage (for example, I couldn&#8217;t bring myself to getting rid of my books). I went to Berlin with a suitcase and a small messenger bag. After my friend visited a few weeks ago, he took my suitcase and I&#8217;m left with a backpack and a messenger bag. In Berlin, the only furniture I own is a mattress and a drying rack for my clothes (a chair and desk would have been nice, I admit). While this probably sounds very uncomfortable to you, it actually isn&#8217;t, once you get used to it.</p>

<p><strong>Simpler eating</strong></p>

<p>A few months ago I tried 30 days without any candy, crisps or soft drinks. I limited my food to three meals a day, no snacks in between. This felt great. I stopped worrying about what candy to eat next, felt healthier and emotionally more stable. Even though I didn&#8217;t make it into a permanent habit and eat sugar again every now and then, I am considering doing the experiment again for a longer time.</p>

<p><strong>No apartment</strong></p>

<p>I cancelled my apartment in The Netherlands. I now rent apartments for a short time (say, a few months). It feels very liberating to be able to cancel the rent, pack my stuff and move on. I don&#8217;t get too attached to one place. Even though I&#8217;m not sure whether I&#8217;ll like it in the long run, it feels great right now.</p>

<p><strong>Simpler social life</strong></p>

<p>In Berlin, I don&#8217;t have nearly as many friends as in Utrecht. Whereas I used to have my agenda fully booked (read about <a href="http://stuffdutchpeoplelike.com/2011/07/29/scheduling-agenda-appointments/">Dutch people and Their Agendas</a>), I now call people to meet instead of making an appointment to meet in a few weeks. Again, this makes my life so much simpler.</p>

<p><strong>Information diet</strong></p>

<p>This is a step I still want to implement better: go on an <a href="http://www.fourhourworkweek.com/blog/category/low-information-diet-and-selective-ignorance/">information diet</a>.  Three steps I already took: I haven&#8217;t watched television for more than half a year, I have read about 10 newspapers in the last years, and last week I clicked &#8220;unsubscribe&#8221; in Google Reader instead of &#8220;Mark all as read&#8221; on about 20 blogs.</p>

<p><strong>Kindle</strong></p>

<p>I love to read. A nice side-effect is that I had a good bookcase for showing off. The step to buying a Kindle was not an easy one, but has worked very well.  It takes a bit of getting used to, but I&#8217;m a big fan now. I can take my books everywhere I want, and they are generally cheaper too.</p>

<p><strong>Conclusion</strong></p>

<p>Where will this end? If I continue like this, will I find myself in a Tibetan monastery meditating in a few years from now? I don&#8217;t think so. Even though I&#8217;m slowly simplifying my life, I&#8217;m sure I&#8217;ll have a fallback every now and then.  There definitely is a tension between pleasure and minimalism, but so far I feel very happy. Keep reading this blog to find out what it&#8217;s like in a few years from now.</p>

<p><a href="http://news.ycombinator.com/item?id=2936432">Discuss on Hacker News</a></p>{% endblock body %}
