date: 08-11-2011
title: On Running


{% extends "post.html" %}
{% block body %}

<p>Running gives me a lot of energy. After a run, there is the runner&#8217;s high: the
released endorphin in my brain makes me feel great.</p>

<p>Training, races and continually wanting to get better makes me push myself. I&#8217;m not pushing too much, for risk of over-training, but I am constantly overcoming barriers and
improving. After running my first half marathon a few years ago, I felt on top
of the world, and that feeling lasted an entire week. The achievement
made everything else in life seem so easy in comparison.</p>

<p>Running keeps my body fit, which helps for my mind too. I feel happier and more
creative. Some therapists prescribe running to depressed people, as it can relieve
stress and anxiety.</p>

<p>Being an avid runner, I also like to watch other runners. Seeing people break
world records or their own personal best is very inspiring. Watching a
73-year old man run 160 kilometers (100 miles) through the mountains is even better. Being a runner
myself makes me appreciate these things even more.</p>

<p>Running also brings me discipline.  I have carried that discipline into other areas of my
life as well.  It takes a bit to get started with running,
but once you are going out on a regular schedule, you feel more disciplined and
better about yourself. Enjoy!</p>{% endblock body %}
