date: 26-09-2011
title: One app in four weeks: kickoff


{% extends "post.html" %}
{% block body %}

<p>When I woke up this morning I heard the sound of the Mediterranean sea and saw
palm trees out the window. Yesterday night I arrived in Malaga, Spain. I&#8217;ll be
slowly travelling around the area for the next few weeks. I probably won&#8217;t be
working full days, as it&#8217;s very beautiful here, and there are a lot of things to
see and do.</p>

<p>Originally, I had a nice plan for my work-related time during these weeks: build
four apps in four weeks. I really liked the idea: build a simple app and get it
out as quickly as I can. While I still like the idea, Jay Fuerstenberg had a
great comment on that: <a href="https://twitter.com/#!/jayfuerstenberg/status/115773083461234688">@chriseidhof I&#8217;d rather see you think for 1 week on a
great app and make it in 3 weeks. #AppStore has enough junk
apps</a>. Very
true.</p>

<p>Therefore, I&#8217;ll do things differently: I&#8217;ll make an app in four weeks. This
week, I&#8217;m going to evaluate three ideas and draw out sketches and interface
prototypes. I&#8217;ll try to post an update almost daily.</p>

<p>I&#8217;ll try to document the whole process of building an app on this blog: choosing
an idea, going from sketches to a prototype to a working version, and polishing
the app.  I&#8217;ll talk about the branding and marketing, and I would really
appreciate your comments on everything.</p>

<p>My <em>first idea</em> is an app for learning how to do something: like an ebook, but
designed for iPad from the ground up: way more interactive, with something to do
for almost every page. Writing, design and coding will go hand in
hand. I&#8217;m not sure what the topic should be: learning HTML 5, learning to
negotiate, learning a part of math interactively (for example, differentiation)
or learning basic iPhone programming.</p>

<p>The <em>second idea</em> is an iPad app for building interactive iPhone prototypes. A
friend of mine asked me why there is no decent one yet, they are all too
complicated. I haven&#8217;t researched this area yet, so maybe it already exists.</p>

<p>The <em>third idea</em> is an iPhone app for making notes about people. I meet
a lot of people, and I would like to start making notes about them. After meeting
them, I&#8217;ll jot down a few notes, and the next time I meet a person I can see a
history of the meetings we had, and maybe also quickly browse his social profiles (in a
similar way to Rapportive). I can also imagine a &#8220;check-in&#8221; like function, where
you only record that you met the person, including the place and time.</p>

<p>I would love to hear your thoughts. Which of these apps would you like to see?
Please leave a comment, and I&#8217;ll try to pick the right idea tomorrow or the
day after that.</p>

<p><a href="http://news.ycombinator.com/item?id=3037924">Discuss on Hacker News</a></p>{% endblock body %}
