date: 03-08-2011
title: Plan it the night before


{% extends "post.html" %}
{% block body %}

<p>About a week ago, I read <a href="http://www.startupsopensourced.com/2011/07/28/19-year-old-stanford-ph-d-dropout-andrew-hsu-is-changing-education/%20">this interview</a> with Andrew Hsu. He said one of his ways to be productive is making your todo-list the night before. I&#8217;ve tried this for a few days now, and it seems to work. For the last few day, I really got a lot done.</p>
<p>One of the reasons why I think it works is because it can help you focus on the right tasks. Stephen Covey wrote about his <a href="http://c2.com/cgi/wiki?FourQuadrants">four quadrants</a>, which can help to classify your tasks. On one axis, you have important and non-important tasks, on the other axis there are urgent and non-urgent tasks. We naturally give priority to urgent tasks, whether they are important or not. What often gets postponed is the important but non-urgent tasks. <em>By making your todo-list the night before, it can help you to focus on the important tasks.</em></p>
<p><a href="http://news.ycombinator.com/item?id=2840964">Discussion on Hacker News</a>.</p>{% endblock body %}