date: 29-04-2015
title: Race Report: Rotterdam Marathon
headline: My first marathon and an ultra-trail

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

After [my first marathon](/posts/race-report-munich-marathon.html), I wanted to do a better job at running my next marathon. Instead of training by myself, I decided to work with [Mark](https://twitter.com/markpersista), who made a training plan for me leading up to the Rotterdam Marathon. I spent a few months in New York, a while in San Francisco, and generally traveled around while still putting in my training, this went surprisingly well. I even ran some races in the US (and won a 5K in Brooklyn).

Because my training (and races) went really well, Mark proposed to try to run a 2:50 marathon (my PB is 3:28). At first, I felt very hesitant, because I spent half a year training really hard (about 5 days a week) to run this marathon. The week before the marathon, I ran a 10K at the proposed marathon pace (4:02/km), and it felt quite easy. So I decided to take the risk, willingly, with a good chance of blowing up somewhere down the road.

### Rotterdam

On the 12th of April, I was feeling strong before the start. I had a relaxing week before, and felt completely prepared. We set off, and the first 10K felt really easy. However, I noticed that after that, it was just a little bit harder to keep up the pace (I was running alone on a windy part, and couldn't hide behind a group). Yet, I managed to run the first half marathon in 1:25, exactly on pace. However, after that, my pace quickly dropped. I immediately set a new goal: just make sure to run the second half in 1:30. A bit later, I also noticed that this was too fast, and wanted to finish in under three hours. Then, during the last 10K, I only had one goal left: just keep running. Make it to the finish without walking. It was really tough, but I managed (and even was able to push out a sprint finish). The second half took me 1:40, and I ended up with [3:05 as my final time](https://app.strava.com/activities/284274016).

Rather than a disappointment, I was really happy that I tried. I knew the risk going into this. If I would have started slightly slower, I'd probably have managed a time under 3 hours relatively easily.

### Harzquerung

The recovery went well, and after about a week I was able to run again, albeit slowly. Before my marathon, I had already been looking at the [Harzquerung](http://www.harzquerung.de), a 51K ultra trail through the mountains, and promised myself to run it if recovery went fast. Last week, I went for a few very short runs and felt strong, so I booked a hotel, registered for the race and got my train tickets. My first ultra-marathon!

On Sunday, at the start, I was feeling even more relaxed. I knew that the course would be hard (quite some elevation compared to my usual runs), and that I could never run a fast time (whatever that means in a mountainy ultrarace). Also, it was only 2 weeks after Rotterdam, so my body wasn't completely recovered. Therefore, I took it really easy and focused on enjoying the nature. It was the best. I chatted with some fellow runners, took it easy on the uphills and took it easy on the downhills. There were hardly any flat parts. The race itself was also very well organized, and the course well marked. After 7km my legs felt tired, but that feeling went away quite quickly.

After 45km I was ready for the race to end, but still had quite a bit to go. But because I had not pushed myself at all, it was still really enjoyable. The recovery went really fast as well: it's four days later and I was able to finish a normal training. This was my first ultra race, but definitely not my last, I thoroughly enjoyed it. Here's my [strava link](https://app.strava.com/activities/292438296).

### Plan

In July, I'm thinking of doing a long trip crossing the Alps, running for a few weeks. Then, I'll prepare specifically for the Berlin marathon, and if I stay injury-free, I'll try to give the 2:50 another go. After Berlin, I'll probably look into more ultra trails.

{% endfilter %}
{% endblock body %}

