date: 13-10-2014
title: Race Report: Munich Marathon
headline: Coming back from quitting

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

Today, I want to write about non-code: yesterday I ran my first real marathon. Although I did run the distance before, never in a road race. Another runner I met once said:

> One of the best things you can do for your body, is train for a marathon. One of the worst things you can do is to actually run it.

I couldn't agree more. I've been feeling really good after all the training, however, today, the day after the marathon, my body is not so happy.

Even after running a lot over the last years, the sheer idea of running a marathon at full speed is bit daunting. Nevertheless, my friend and me decided to do it, and had about half a year to specifically prepare for this marathon. We did track work, lots of long runs in the cold and the heat, I spent a week running up mountains in Boulder, and finally prepared with some races (half-marathons and a 25K). The races went really well, I ran the half marathon in 1:26 the day after I got back from the States, and I was very confident that I could run the entire marathon in 3 hours.

The first bit went good, we started too slow (it's always very crowded at the beginning of the race). But we really nailed the pace, very steady and almost exactly as we planned (4:15/km). It didn't feel as easy as expected, and at km 15 my friend said he either had to slow down or drop out in a bit. I was feeling exactly the same way, but we decided to keep on going until the half marathon point, arriving there at 1:30. A bit before that, I couldn't push anymore and had to let him go ahead of me. Surprisingly, at km 23 he was standing at the side, and joined me, telling me he was about to drop out. I wanted to do the same thing, and said: let's run to 25k, and stop there.

At 25k, we started walking on the sidewalk, feeling horrible. My legs were hurting, and I was tired, but not exhausted. We were about to go look for a train stop, but I decided to give it one more try. I didn't come all the way to Munich to quit at 25k. Even though there was no chance anymore of running a 3-hour marathon, at least I could run a bit more. Maybe until the 30k point. Because I had already given up and quit, anything that I'd do now would feel like winning. I managed to run to the 30k point, my pace dropping quite a bit. At every aid station I walked with my drink, instead of running, and at 35k I picked up another friend who was walking. If you want to know what dropping the pace looks like, check out [strava](http://www.strava.com/activities/206659319). A fast race is very evenly paced: this wasn't.

We managed to run 2k more, I had to walk, and that's basically what happened for the final five kilometers: running, interspersed with bits of walking. The final 400m was a "victory lap" through the Olympic Stadium, which I couldn't enjoy it at all because of pure exhaustion. I finished seconds under 3:28, got the medal, drank lots of alcohol-free beer and ate, and was actually quite happy. Even though I did not even come close to what I came here for, I did manage to come back from giving up, adjusted my goals, and really overcame myself by finishing the thing. I'm not sure what went wrong, but one day in the next 10 years, I'll run it in under 3 hours. However, first it's time for some new challenges.

{% endfilter %}
{% endblock body %}
