date: 28-12-2011
title: Radical Honesty


{% extends "post.html" %}
{% block body %}

<p>On Hacker News, I read an article about Radical Honesty today: <a href="http://www.esquire.com/features/honesty0707">I Think You&#8217;re
Fat</a>. It really appealed to me.
Over the last year, I&#8217;ve tried to be more open and honest myself. Not radically
honest, though. For me, it was important not to hurt other people&#8217;s feelings.</p>

<p>However, when you think of it, you can hurt people more by not being honest. 
Suppose a friend lets you wait for 45 minutes in a restaurant. I&#8217;m naturally
conflict avoiding, so when they arrive I&#8217;ll say: &#8220;no problem&#8221;. But this will
probably hurt our relationship on the long term, whereas talking it over
immediately probably takes away the problem.</p>

<p>I also noticed that the deeper my relationship with somebody, the easier I find
it to be radically honest. Or maybe it is the other way around: the more honest
I am, the deeper the relationship feels? There certainly is something really
nice about being able to say everything to somebody, whether it&#8217;s good or bad.
For me, it makes the relationship feel stronger.</p>

<p>In my blog, I also try to be very honest about how I think about things. This is
definitely scary, especially if it&#8217;s about my weak points, things that I&#8217;m
uncertain about or my failures. But on the other hand, I think especially these
points might be the most interesting to read about.</p>

<p>Starting now, I&#8217;ll try to be more honest in all my personal relationships. I
am not going to be as radical as in the linked article, but we&#8217;ll see how this
goes.</p>{% endblock body %}
