date: 15-05-2012
title: Radical Friendship


{% extends "post.html" %}
{% block body %}

<p>A few months ago I wrote about <a href="http://chris.eidhof.nl/post/14911964453/radical-honesty">radical honesty</a>. I tried being more honest, but in practice it&#8217;s quite awkward. Our society isn&#8217;t really used to being completely honest and open. For example, if a friend wears something I really dislike, I won&#8217;t tell him. It&#8217;s just my opinion, and by expressing it I don&#8217;t think I&#8217;ll help anybody.</p>

<p>In <a href="http://en.wikipedia.org/wiki/How_to_Win_Friends_and_Influence_People">How To Win Friends and Influence People</a>, Dale Carnegie says things like &#8221;
&#8220;Don&#8217;t criticize, condemn or complain&#8221;, &#8220;The only way to get the best of an argument is to avoid it&#8221; and &#8220;Show respect for the other person&#8217;s opinions. Never say, &#8216;You&#8217;re wrong.&#8217;&#8221;. In a way, you could interpret these statements as: don&#8217;t be honest when you disagree with somebody.</p>

<p>Recently, I was reading <a href="http://www.amazon.com/How-Proust-Change-Your-Life/dp/0679779159">How Proust Can Change Your Life</a> by my favorite modern philosopher Alain de Botton. He writes that Proust deliberately tried to avoid truth in friendship, lavishing his friends with compliments, sincere or not. This is pretty much the exact opposite of radical honesty, and equally exciting for me. A very interesting approach, although I don&#8217;t think I&#8217;ll use it.</p>{% endblock body %}
