date: 28-10-2011
title: Reaching a plateau


{% extends "post.html" %}
{% block body %}

<p>While I was traveling last month, I met a lot of great people. One of them was a
73-year old woman who had been very successful in her life. She was a professor
at a well-known university in the USA and has now retired to Spain. She is still doing
amazing things.</p>

<p>I asked her: &#8220;What&#8217;s your secret to success, apart from working hard and being
intelligent?&#8221;. She said: &#8220;Nothing, just that&#8221;.</p>

<p>Then I wanted to know if she had ever felt burned out, or felt like quitting.
She answered: &#8220;Yes.
The first time it&#8217;s very scary. However, every time this happened I had reached some kind
of plateau, and it was time to take the next step. Each time, I
just waited it out and grew. The next times, I started to recognize it when it
happened and slowly advanced to the next level in my career.&#8221;</p>{% endblock body %}