date: 06-10-2011
title: RIP Steve Jobs


{% extends "post.html" %}
{% block body %}

<p>When I started to read the news this morning, I couldn&#8217;t believe it. It felt very surreal. Not completely awake yet, I opened up other news sites to make sure it wasn&#8217;t a mistake.</p>

<p>I&#8217;m not sure how I feel. Mostly, I feel love. I am impressed by the products Apple made and the inspiration they gave everybody. If there&#8217;s one company that I love, it must be Apple. And loving Apple implies loving Steve Jobs.</p>

<p>As <a href="http://www.marco.org/2011/10/05/steve-jobs-dies">Marco said</a>, I don&#8217;t feel at all qualified to write this, but it feels inappropriate to do something else.</p>

<p>Thank you for everything.</p>{% endblock body %}