date: 12-10-2011
title: Rotation fun


{% extends "post.html" %}
{% block body %}

<p>Today I spent a lot of time implementing landscape orientation, next to portrait
orientation (as this gives you a bigger keyboard). However, in the end I managed
to nail it, I think. Everything resizes, moves around and plays nice with
showing and hiding the keyboard.</p>

<p>I also added hover effects for the passcode buttons, designed the section
header, changed the passcode screen slightly, added swipe to delete and changed
the selection color of the text. Also, you can now go to the contact&#8217;s details
from the meetup details screen. Thanks to Eelco and Martijn for pointing out
some of these bugs and issues.</p>

<p><a href="http://schwuk.com/">Dave Murphy</a> wrote in to ask why I designed a splash screen instead of showing
an empty UI (the last is recommended by Apple). As I expect most users to secure
their app with a passcode, the splash screen is the background for the passcode
screen as well. When you start the app, the passcode keyboard will slide in.
Although Dave might be right, I think I&#8217;ll leave it like this for now.</p>

<p>He also asked if I considered the icon with just the &#8216;m&#8217;, and I haven&#8217;t. I&#8217;ll
experiment with that tomorrow!</p>

<p>I won&#8217;t release another beta today, as I want to fix some outstanding bugs
tomorrow, but the beta testers can expect a new version at the end of the
afternoon (in Europe).</p>{% endblock body %}