date: 19-11-2011
title: Satisficers vs. Optimizers


{% extends "post.html" %}
{% block body %}

<p>I just finished Fooled by Randomness by Taleb, what a great book. In the last
chapter, he compares satisficers and optimizers: suppose you&#8217;re having dinner
with a friend who knows exactly when his train leaves. He optimizes his dinner,
hurrying away from the table just before his train is about to depart. Your
friend is an optimizer.</p>

<p>I am aspiring to be more of a satisficer: I don&#8217;t know when my train will
leave. When I need to travel somewhere, I walk or cycle to the station and check
the tables to see when it leaves. This means I hardly ever miss a train: there&#8217;s
nothing to miss!</p>

<p>Instead of planning weeks ahead and optimize my time to see as many people as
possible, I&#8217;ve now got a lazier approach: I&#8217;ll just call people when I feel like meeting them.</p>

<p>I&#8217;m also not trying to optimize my working time: I either work or play, not both
at the same time. I&#8217;m trying not
to confuse the two (which still happens often, watching YouTube videos or
reading Hacker News while compiling). However, I&#8217;m not trying to work 8 hours a day. Some days I
work more, most days I work less, depending on what I feel like. Accepting that is still hard for me, I was
(unconsciously) drilled with the idea that you have to work 40+ hours a week to be a
worthy person.</p>

<p>There are other aspects of life where I am still a bit of an optimizer, such as running
fast. However, the training is very satisfactory for me, and doesn&#8217;t feel like
optimizing: it feels very playful and is a lot of fun.</p>

<p>What about you? Are you a satisficer or an optimizer?</p>{% endblock body %}