date: 26-08-2011
title: Selecting which apps to build


{% extends "post.html" %}
{% block body %}

<p>I have a huge list of ideas for iPhone apps (and lots of other ideas). When I
last counted, there were over a hundred items on my list. How do I select which
apps to build?</p>

<p><strong>Marketing</strong></p>

<p>First of all, I need a way to do marketing. It helps a lot if it is a niche
product. For example, I have an idea for a very cool iOS marketplace site, but
it will be nearly impossible for me to do the marketing, as it is
targeted at everybody with an iPhone. Instead, TrackMe (my location tracking app) is a lot easier to
market: I want to be noticed by travelers, digital nomads and people interested
in quantified self.</p>

<p><strong>Ease of building</strong></p>

<p>I look at how hard it is to build the product. Can I manage with only an app, or
do I need a server as well? Do I master all the necessary technology? Is it very
design-intensive? Can I quickly hack together a prototype and test it? For
TrackMe, I was able to build a prototype in less than an hour and improved upon
that. A web app I once thought of (a Project Euler for web programming) takes a
few months to build, which is currently too long for me.</p>

<p><strong>Potential audience</strong></p>

<p>How big is the potential audience? Are they willing to pay? Am I part of it or
do I know people in the audience? Do people own iPhones?</p>

<p><strong>Would I use it?</strong></p>

<p>For me, it really helps if I use the app all the time. This forces me to make it
very good and keep improving it as I think of simpler or better ways to do
things. For example, I once thought of an app to track
your client visits (in the Netherlands, people with a company car need to
track this). However, I don&#8217;t own a car and am thus not going to use the app, so I
wont&#8217;t be motivated to keep improving it. Instead, anything to do with
productivity, life hacks or travel I find extremely compelling. If you use your
own app all the time it can really help you to stay motivated.</p>

<p><strong>Can I easily charge for it?</strong></p>

<p>As an indie developer, it is vital to make money with the things you build.
I once had the idea for a site with only Arthouse movie torrents.
Aside from not wanting to be involved in illegal or something in the gray area
around that, I think it would be virtually impossible to charge people for it.
Most iPhone apps are easier: you just put a price on it or charge a monthly
subscription.</p>

<p>Which methods do you use to select the ideas you will work on? Please <a href="http://news.ycombinator.com/item?id=2928614">discuss at Hacker News</a>.</p>{% endblock body %}