date: 04-10-2011
title: Selecting People Faster


{% extends "post.html" %}
{% block body %}

<p>Today, I fixed some minor things in the code, and simplified the workflow. In
the previous version, when checking in, you were presented with a list of
people. After that, you could do the checkin.</p>

<p>In the current version, it works much like sending an email or sms: you start by
typing somebody&#8217;s name, and you will see a list of people below (see the
screenshot). After you click
on a name, you can continue with typing the note.
This makes adding a note (the most important workflow in the app) a lot faster.</p>

<p>Tomorrow, I will be travelling again. Part of it will be the three hour train
ride from Granada to Seville, which means I will have some time for hacking. I&#8217;m
hoping to implement the grouping by first letter for the People view (just like
in Address Book) and start work on the search functionality (which means I will
have to compile my own version of sqlite).</p>

<p>The app is almost ready for beta testing. If you plan on using this app, please
<a href="mailto:chris+beta@eidhof.nl">send me an email</a> and I will send you instructions.</p>

<p><img src="http://dl.dropbox.com/u/1264810/blog-content/Photo%2004-10-11%2018%2025%2008.png" alt="Address Book searching"/></p>{% endblock body %}