date: 29-09-2011
title: Sketches and ideas


{% extends "post.html" %}
{% block body %}

<p>Although I was traveling yesterday, I sketched some small mockups for the
Contacts app. The idea for the app had come when the genius Lucas Tieleman explained to me
how he keeps a small book with notes about everyone. Yesterday he sent an email
with the notes he had about me: it&#8217;s fun and only freaked me out a little
bit (not as much as I expected). He&#8217;s a very early adopter of new technology,
and he wanted this on his iPhone.</p>

<p>One of the things he suggested was adding a game element. I&#8217;m not sure if that&#8217;s
a good idea: although it would be fun at first, I think game elements get
annoying later. One &#8220;game-ish&#8221; option would be to have a calendar view showing
how many notes you made that day, and when you see it you will want to have at
least one note a day (hopefully).</p>

<p><a href="http://tupil.com">Eelco</a> also pointed out <a href="http://with.me/">With</a> by Path. Just like
<a href="http://hashable.com/beta">Hashable</a>: while there is great inspiration in there,
I think they both focus way too much on social networks and sharing. Especially for the purpose
I had in mind (taking notes about people) this is scary. As Lucas also noted:
some if this stuff is really private.</p>

<p>Today I&#8217;ll probably start a new XCode project and quickly implement
an app that&#8217;s usable for me, and iterate upon that. For now, here&#8217;s two of the
sketches I made yesterday (although they are already outdated):</p>

<p><img src="http://dl.dropbox.com/u/1264810/blog-content/IMG_1192.jpg" alt="Check In Screen"/><img src="http://dl.dropbox.com/u/1264810/blog-content/IMG_1193.jpg" alt="Person Screen"/></p>{% endblock body %}
