date: 08-09-2011
title: So, you want to build an app together?


{% extends "post.html" %}
{% block body %}

<p>If you do have an idea for an iPhone app, I want to ask you these questions.
These should hopefully validate your idea and commitment.</p>

<p><strong>Does it exist already?</strong></p>

<p>Have you searched the App Store and the internet? Also for different keywords?
If it does exist, how are you going to differentiate?</p>

<p><strong>How will you make money with it?</strong></p>

<p>Will you sell the app, or make it free? Will it be ad-based? Do you sell in app
purchases? Are you going to sell virtual products? Does it only work if you need to
circumvent Apple&#8217;s payment system?</p>

<p><strong>How are you going to do the marketing?</strong></p>

<p>The App Store is getting crowded, and you need to have a better plan than: &#8220;We
will get to the top lists because this idea is so awesome, and once we&#8217;re there
we&#8217;ll be RICH.&#8221;</p>

<hr><p>The three questions above are the most important. If you have good answers, we
can continue.</p>

<p><strong>How do you want to work with me?</strong></p>

<p>Revenue sharing? Do you want to hire me? If you&#8217;re willing to pay, this is a
very good indicator that you&#8217;re serious. If you&#8217;re unwilling to spend any money on it, you have to ask yourself whether you really want to do it.</p>

<p><strong>Who will do the visual design?</strong></p>

<p>Do you have a graphical designer on board? Do you want to spend money on it?</p>

<p><strong>What are your future plans with the idea?</strong></p>

<p>Can you build different variants? Do you want to apply it to different markets?
How long will you need me for? Only the first version, or for the long term?</p>

<p><strong>How much time will <em>you</em> spend on it?</strong></p>

<p>I don&#8217;t believe in working &#8220;every day after work for 6 hours&#8221;. You need to relax
and take care of your friends and family too. Best case, in two hours after work
you might achieve the same productivity as one hour of normal work.</p>

<p><strong>Who will build the web-part?</strong></p>

<p>Often, an app needs a web part. For example, if you want to login users. If you
want to communicate between users. If you need to do push messages. For this,
you also need a developer. Who will do this part?</p>

<hr><p>There are a lot more questions to ask. Not only do these questions filter out
the good ideas, they also filter out whether or not you want to work on this
project. An idea is a good start, but are you willing to commit? Can you really
follow through?</p>

<p><a href="http://news.ycombinator.com/item?id=2973731">Discuss on Hacker News</a></p>{% endblock body %}