date: 16-01-2012
title: Speaking Up


{% extends "post.html" %}
{% block body %}

<p>Deciding when to speak up is one of the things where I feel I haven&#8217;t yet figured it
out at all. I don&#8217;t know when or how to do it.</p>

<p>In high school, a friend of mine didn&#8217;t like her boyfriend anymore. I told
her that if she really feels that way then she should break up with him. The
boyfriend (who was a good friend of me as well) was, understandably, quite angry
at me. From that moment, I decided it wasn&#8217;t a good idea to speak up about other
people&#8217;s relationships, even if I have strong opinions on it. However, recently,
a friend told me he wished people would have told their true opinions about his
ex-girlfriend. Mine was mildly negative, but I never said so to him. I don&#8217;t
know if I should have done so.</p>

<p>Being a programmer, I always get a lot of business-people looking for a
programmer. They tell me their idea, and in my opinion, most of the
ideas suck. Whenever I think this, I&#8217;ll try to postpone judgement and get my
thoughts straight. I still feel it my professional responsibility to tell them
why it is a bad idea and do so eventually. But where to draw the line? Do you
tell thim &#8220;your idea sucks and here&#8217;s why&#8221;? Or &#8220;this is what I don&#8217;t like about
your idea&#8221;. Maybe even &#8220;I don&#8217;t think you should try to become an entrepreneur&#8221;
(I&#8217;ve never said that and not planning to do so either).</p>

<p>One of the reasons why I find it hard to say what I&#8217;m thinking is because I have
been wrong so many times. If Jack Dorsey would have pitched me Twitter, I
probably would have strongly advised him not to pursue it as a business, because
it doesn&#8217;t really add anything (we already had blogs, social networks, text messaging and email). Also, you need a lot of people for it to be
interesting. I mean, seriously, a 140-character microblog is the best idea you
can come up with? What problem does it solve anyway?</p>{% endblock body %}
