date: 03-10-2011
title: Start of Week 2


{% extends "post.html" %}
{% block body %}

<p>Today is the start of the second week of the <a href="http://chriseidhof.tumblr.com/post/10680838726/one-app-in-four-weeks-kickoff">One App in Four
Weeks</a>
challenge.</p>

<p>Last Friday, I added tabs to the application: one for the most recent checkins,
and one for the list of contacts. More tabs will probably come, such as search
and settings.</p>

<p>This week, I will try to get the functionality done. I need to add a Person view
(after you press on a Person you see the history), fix some shortcuts I took,
add search and add a passcode lock (as Lucas said, this is indeed a very
sensitive application).</p>

<p>As <a href="https://twitter.com/#!/robertgaal">Robert</a> mentioned on Twitter, it would be nice
if you can minimize the amount of input. He suggested not doing free text input,
and while I agree that would be nice I still think it&#8217;s valuable to have a
free text input (although smart autocompletion could help out in
minimizing the amount you need to type).</p>

<p>After the implementation, the next steps would be to work on the branding and
the design. I am a bit afraid of the design part, as I am not a very good
designer (I don&#8217;t have a great eye for detail and sometimes lack the patience
when designing). So for the designers who are reading along, I would be very
interested in your ideas.</p>

<p>For the branding, I thought of a great name (Dossier), but it&#8217;s already used by
some other apps (one of which does a similar thing). However, I didn&#8217;t really
put any effort into it so far, so after a good brainstorming session I&#8217;ll come up with a name.</p>

<p><img src="http://dl.dropbox.com/u/1264810/blog-content/IMG_1251.PNG" alt="Recent Checkins"/><img src="http://dl.dropbox.com/u/1264810/blog-content/IMG_1252.PNG" alt="Contact List"/></p>{% endblock body %}