date: 10-06-2013
title: Status Update
headline: A quick write-up


{% extends "post.html" %}
{% block body %}

<p>Lots of stuff happened over the last months, so here&#8217;s a partial list:</p>

<ul><li>I finished my project with <a href="http://www.aprendo.nl">Aprendo</a>. We&#8217;ve
been working on an in-house iPad app for almost a year. At this point,
I can&#8217;t demo anything publicly, but I&#8217;d be happy to talk about it in
private.</li>
<li>I organized <a href="http://www.uikonf.com">UIKonf</a> together with
<a href="http://twitter.com/peterbihr">Peter</a> and
<a href="http://twitter.com/fidothe">Matt</a>. I think it&#8217;s safe to say that
the conference was a resounding success. We learned a lot of things
that we can do better next year, but all in all, we&#8217;re very happy.</li>
<li>I started <a href="http://objc.io">objc.io</a>, a new online periodical about
best practices and techniques in Objective-C. The response so far
has been very good, and matches the amount of work we&#8217;ve put in.</li>
<li>I started work on a small app to track your food intake, based on the
Diet Quality Score system.</li>
<li>I started planning to build independent apps together with
<a href="http://floriankugler.com">Florian</a>.</li>
<li>The running is going well, too, I improved my PB on the 10K in bad
circumstances to 37:03, and will run my <a href="http://www.skogsmaraton.no">first
marathon</a> this weekend (although I have a
slight injury, so depending on how that feels I might pull out at the
last minute).</li>
</ul><p>Depending on the contracting work I might have more time to blog. I have
a lot of topics in my head, some might appear here and some on
<a href="http://objc.io">objc.io</a>.</p>{% endblock body %}
