date: 15-11-2011
title: Survivorship bias


{% extends "post.html" %}
{% block body %}

<p>Of all the jobs I&#8217;ve had, being a solo entrepreneur is the fairest job. I am
directly responsible for my own income. I have nobody to blame if things go
wrong, technically, financially or otherwise. This makes me feel very
responsible for everything I do. Compared to working with more than one person
or (worse) working in a company, my work influences my results so much more.</p>

<p>The danger is this: if I become very successful, I will probably attribute it to
my skill. However, there are a lot of other factors that influence my succes,
and I have the feeling that luck might be quite a big factor.</p>

<p>This post is for future me: if you do succeed, don&#8217;t think it&#8217;s only
because you&#8217;re so smart or skilled. Read again about
<a href="http://en.wikipedia.org/wiki/Survivorship_bias">surviorship bias</a>.</p>{% endblock body %}