date: 17-01-2012
title: Take the money


{% extends "post.html" %}
{% block body %}

<p>After yesterday&#8217;s post about <a href="http://chris.eidhof.nl/post/15942157709/speaking-up">speaking
up</a>, I got some questions
about what my responsibility is as a freelance programmer. Am I qualified to
judge other people&#8217;s business ideas? And if so, should I tell them if it&#8217;s a bad
idea? I&#8217;m a computer programmer, maybe I should just stick to what I know.</p>

<p>The question I&#8217;m trying to answer is: &#8220;Should I just take the money?&#8221;</p>

<p>I&#8217;m not sure if it is my responsibility to judge other people&#8217;s business ideas.
It also really depends on who the other person is and what they want from me. If
people want me to build something in exchange for shares, then I obviously have
to judge their ideas. When it comes to paying clients, I could just take the
money and walk away.</p>

<p>However, I have never been like that. Luckily, freelancers in my profession are
in very high demand and we can afford to say &#8216;no&#8217; to clients every now and then.
When I&#8217;m taking on freelance projects, I try to avoid doing projects that aren&#8217;t
good ideas. For example, I&#8217;ve advised clients who came for an iPhone app
that they should just get a mobile website instead. Or more recently, for a lab
prototype, I advised to go for Android instead of iOS, because the necessary
technology wasn&#8217;t freely available on iOS. In both projects, I could have chosen
for the money, but I think it&#8217;s in everybody&#8217;s best interest to do things the
right way.</p>

<p>The client should of course get the best possible solution. But I believe it&#8217;s
better for me, too. Hopefully, the client will remember that I took myself out
of the equation, and will get a good impression of me. They might hire me for
another project or recommend me to their friends.
This is why I think it&#8217;s best for me to be as honest as possible about these
projects. It might not be fun in the short term, but I hope it will pay off in
the long time.</p>{% endblock body %}