date: 20-09-2011
title: TrackMe plans


{% extends "post.html" %}
{% block body %}

<p>Last month, I made € 99.54 from selling <a href="http://eidhof.nl/trackme">TrackMe</a>. The first day I sold about
60 copies, and the rest of the sales was spread out over the month.</p>

<p>The reason why I sold so little is that I didn&#8217;t do any marketing. I set up a
blog for the app, and talked about it on this blog. I announced it on Twitter,
and wrote a blog post about <a href="http://trackmeapp.tumblr.com/post/9920687010/10-cool-things-you-can-do-with-a-gpx-file">10 cool things you can do with a GPX
file</a>.
I would promote it more under my own account, but don&#8217;t want to be spammy.</p>

<p>Over the last weeks, a friend has written a (Dutch) <a href="http://eidhof.nl/trackme/press/release-2011-09-20.html">press
release</a> for me, which
we sent out today. We&#8217;ll publish the English version in the next days. I think
this could generate some buzz.</p>

<p>For the next months, I think I&#8217;ll spend time improving the app design (although
I&#8217;m still not sure what to do with the big blue dots) and marketing it. I&#8217;ll set
some goals and make a plan to reach them.  One of the things I&#8217;d like to achieve
is getting retweeted by Lonely Planet, because I think the app could
particularly appeal to travelers.</p>

<p>Knowing that a hundred people want to use this app makes me confident that
there is a market. With the limited marketing I did, I don&#8217;t think it&#8217;s a bad
number. I should at least be able to increase that by 10.</p>{% endblock body %}
