date: 26-07-2012
title: Traveling alone


{% extends "post.html" %}
{% block body %}

<p>I like traveling alone. Here are some things I found out when traveling alone:</p>

<p>Eating alone in restaurants is fine. I used to really dislike it, because I felt stared at. It got on my nerves. Once I went for mexican food in a Denver restaurant on the tech campus, and on Saturday night the restaurant was filled with families. I was seated in the middle of the room, and had a really big table just for me. This was quite uncomfortable, but I&#8217;ve gotten used to it now, and it&#8217;s very refreshing. As a personal rule, I try not to use my phone when having dinner (either with friends or alone). If I do want to do something while waiting for my meal, I&#8217;ll read a book or write in a notebook.</p>

<p>The freedom of traveling alone is great. Especially when you&#8217;re backpacking: once you hit the road you can go wherever you want to go. Many songs have been sung about this feeling, and many books have been written. If you&#8217;ve never experienced it: do it!</p>

<p>For some reason, I used to feel the pressure to socialize. However, it&#8217;s fine not to do that. Most of the time, I like to meet people and talk to them. However, I also like spending a day sipping café con leche and eating tapas without really talking to somebody. It clears my mind.</p>

<p>The way you travel and the places you stay can also have an important effect on socializing: I prefer to use public transport. In a rental car, you can be pretty sure to not meet anybody. Likewise, in a hostel it&#8217;s much easier to meet new people than in a hotel. And joining organized activities is a sure way to meet new people: even if you&#8217;re really picky, if you meet enough people you&#8217;re bound to meet somebody you really like. I made some great friends over the years by joining walking tours or pub crawls.</p>

<p>There is the obligatory quote: &#8220;happiness is only real when shared&#8221;, which is very true. Traveling with friends is just as awesome. However, you&#8217;ll meet people along the way with who you will share the moments. For me, it&#8217;s easier to meet people when I&#8217;m traveling alone than when I&#8217;m traveling with friends: with friends, I tend to isolate a bit more, and don&#8217;t make many new friends.</p>

<p>Safe travels!</p>{% endblock body %}
