date: 22-09-2011
title: Trust your geeks


{% extends "post.html" %}
{% block body %}

<p>15 years ago, my local library had a night about &#8220;The Internet&#8221;. At that time, I
read bits about it in a science magazine, and I was fascinated and
persuaded my dad to take me there. That night, a guy came and talked to us about
what the internet was, and what you could do. He sent an email to the White
House, and got a reply within half an hour! I was so drawn to this new
technology, and wanted to know more about it. Shortly after, the library got an
internet connection, and I was browsing the web for 5 guilders an hour, spending
all the money I made from delivering newspapers.</p>

<p>My fellow geek friends and I started blogging years ago (back when LiveJournal
was still big and WordPress unknown). We talked about our personal lives, and
some people found out the hard way that even a private blog is public.</p>

<p>Around 2004, some friends bought a Mac, when it was still very uncommon. I bought one
shortly after that (my main excuse was &#8220;so that I can run Photoshop and Unix
at the same time&#8221;). Another few months later everybody was buying Macs.</p>

<p>I noticed that whenever we geeks were passionate about some technology, and
really got into something, the mainstream would follow a few years later. This
applies to computers, internet, Facebook, smartphones, mobile internet and more.</p>

<p>These are the current feelings I have about technology: I don&#8217;t want to be
connected all the time anymore. I want an information diet. I want real
experiences instead of online ones. I think most websites suck, most iPhone apps
are great (beautiful, minimal, fast, to the point). There is too much noise on
the internet. People are taking breaks from technology. It&#8217;s becoming harder to
focus for a long time, but I really want that.</p>

<p>I mostly wrote this article for future reference: I wonder which of these
feelings will become mainstream. For example, Facebook is still growing, but
I think it&#8217;s going to become obsolete. People want real experiences. When I tell
a story, I don&#8217;t want people to say: &#8220;Yeah, I read that on Facebook&#8221;. I think
geeks are an especially good predictor of what will happen with technology, and
I&#8217;m starting to notice the above feelings more and more around me.</p>

<p><a href="http://news.ycombinator.com/item?id=3026079">Discuss on Hacker News</a></p>{% endblock body %}
