date: 23-06-2015
title: Via Alpina
headline: I'll be running across the Alps for a month

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

In a few days, I'll head over to Innsbruck to meet up with some friends for the weekend. After that, I'm going to start a big running adventure. My plan is to run solo across the Alps for a month, from mountain hut to mountain hut. I'll be bringing a small backpack, filled mostly with warm layers and my laptop. In the mornings, I plan to run, and in the afternoons, I'll [write my new book](http://www.objc.io/books/).

To be honest, I have no idea what it's going to be like. I've ran in mountains before, but never for such a long stretch. Being Dutch, I'm not used to mountains, so there'll be lots to explore and learn. I'm going to be running a stretch of the [Via Alpina](http://www.via-alpina.org), and will start somewhere close to Innsbruck and run towards the Mt. Blanc.

I'm not sure how much I can cover in a day, and have no clue where I'll end up after a month. Even though I've been training 4-5 times a week for the last years, I can imagine that running in this terrain and running so much can get me injured, in which case I'm totally prepared to stop (and come back another time).

I hope there will be WiFi in at least some of the huts, and if so, I'll be posting updates [on a new blog](http://vialpina.tumblr.com/)!

{% endfilter %}
{% endblock body %}

