date: 07-04-2014
title: We launched Deckset
headline: What I love about our new Mac app

{% extends "post.html" %}
{% block body %}
{% filter markdown %}


I couldn't be more proud to share with you that we launched Deckset yesterday. There are a lot of nice stories to tell about how we worked as a team, why it took us 5 times longer than expected to build this, and how we finally shipped. There are so many interesting technical details to share. However, today I won't talk about the process, but why I am so proud of the result. Of course, this is very biased, but so here's what [some](http://www.macstories.net/reviews/deckset-empowers-you-to-create-great-presentations-from-your-text-editor-of-choice/). [things](http://brettterpstra.com/2014/04/07/deckset-1-dot-0-released/). [others](http://brooksreview.net/2014/04/deckset/). [are](https://twitter.com/chockenberry/status/453246589172060160). [thinking](http://www.heise.de/mac-and-i/meldung/Deckset-Von-Markdown-zur-Praesentation-2165030.html).

![](/static/images/deckset-screenshot.png)

When I draft a talk, I always start with the outline and think about the story that I want to share. These outlines I write in Markdown using my favorite text editor (vim). Generally, I first collect all of the ideas, and then rewrite my outline over and over again until it's perfect.

Then, at some point, once the outline starts getting very detailed, I start creating slides. Before Deckset existed, I used to have my first big hurdle: I try to make every aspect of my presentation really good, and I also want the slides to reflect that. One of the aspects is having a beautiful theme. When creating a presentation using regular software (such as Keynote or Powerpoint), you have to choose this theme before you do anything else, because it's really hard to change this after you made a few slides. In Deckset, I have the flexibility to change this at almost any time, and hardly have to worry about this upfront.

Whenever I make slides, I want them to be beautiful and consistent. In Deckset, this is done by default. Because our input is Markdown, which is only structure, I can't spend my time changing fonts, adjusting colors and moving images around. Each theme is very carefully designed, and we iterated many times to make sure they are all great for giving a presentation.

I love also the speed of creating a presentation with Deckset. I am a fast typist, and once I know what I want to say, I just type it out and my slides are done. For example, I had to create a slide deck for the UIKonf Sponsors, with background info, sponsor offers, and quotes and pictures from last year's edition. In 15 minutes, I had a really impressive looking deck with all the information. The sponsors loved this.

![](/static/images/deckset-screenshot2.png)

The last year, in my own public speaking, I've given similar talks on the same topic at multiple places. Having my presentation in Markdown means that I can very quickly copy and paste specific slides, or code examples, whenever I create a new presentation. Because I only copy Markdown, I don't have to worry about the design.

Finally, making changes to a Deckset presentation is much easier than in Keynote. For example, we have an option to make the headings *fit*: the font size is automatically adjusted so that the text fits perfectly on the slide. We do automatic syntax highlighting. Making these kinds of last-minute changes in a Keynote presentation takes a lot more effort: not only do you change the text, but you also have to re-layout your slides.

There are so many more things to talk about. But today, we'll celebrate our launch, and hope to ship many more versions. We have a lot of ideas of where we can take Deckset. It's very opinionated software, and not for everybody. But if you love Markdown, check out our [website](http://www.decksetapp.com) or head over to the [Mac App Store](http://bit.ly/getdeckset) and buy it directly.


{% endfilter %}
{% endblock body %}
