date: 14-10-2011
title: Week 3: An App in Four Weeks


{% extends "post.html" %}
{% block body %}

<p>Today marks the end of Week 3 of my <a href="/post/10680838726/one-app-in-four-weeks-kickoff">App in Four
Weeks</a>
challenge.</p>

<p>This week I <a href="/post/11323208696/introducing-met">chose a
name</a>. I
designed an icon and overall style for the app. I then spent quite some time
implementing autorotation, and getting it exactly right. There is now a passcode
lock too.</p>

<p>By nature, I am not a perfectionist. Whenever I see that something works, I tend
to lose interest in finishing it. For me, shipping things is a big deal, and
hard to do. Normally, I lack the willpower to do polish and finish things. By making
a very public commitment to build this app in four weeks, and by writing about  it
here, I can outsource my willpower: polishing and shipping becomes a
lot easier. Delivering a bad app or not delivering at all would feel like a big
embarrassment.</p>

<p>So far, the process has been a marvelous experience. I had so much help from everybody:
people who have feature requests, name suggestions, design suggestions, beta
testers, people who tell me that they like this blog, and so on. If you consider
doing something similar, I can only recommend it. My work becomes a lot better
by doing this, and people who read this hopefully learn and get inspired, a
win-win situation.</p>

<p>Next week, I will not add any new big features, but instead polish what I have
so far, set up a website and make a marketing plan. From Wednesday on I am
volunteering at multi-day trail race, so I am not sure how much time I will have
to work on Met.</p>

<p>If there is any part of the process that you would like me to write about,
please let me know.</p>{% endblock body %}
