date: 07-09-2011
title: Why people love and hate Macs


{% extends "post.html" %}
{% block body %}

<p>Recently, I have been reading a bit about <a href="http://en.wikipedia.org/wiki/Cognitive_dissonance">cognitive
dissonance</a>, and I am
fascinated by it. For example, <a href="http://www.youtube.com/watch?v=korGK0yGIDo">this
video</a> shows a great example of
cognitive dissonance: if people get paid only a little for a boring task that
takes an hour, they experience dissonance, and need to justify it for
themselves. They will say they like doing the task. However, if people get paid
more, they don&#8217;t need to justify it and will be honest about the task.
There are many more examples of this, which are fascinating and sometimes very
counter-intuitive.</p>

<p>I think Apple&#8217;s products also cause a lot of cognitive dissonance. Take, for
example, the people who have never used a Mac, don&#8217;t own one and can&#8217;t get one
(for example, they are .NET developers, or they can&#8217;t spend the money). I&#8217;ve seen many of these people
criticize Macs. This follows the classical pattern, as described on Wikipedia:</p>

<blockquote>
  <p>This example follows a pattern: one desires something, finds it unattainable,
   and reduces one&#8217;s dissonance by criticizing it. Jon Elster calls this pattern
   &#8220;adaptive preference formation.&#8221;</p>
</blockquote>

<p>However, there is a second way in which cognitive dissonance manifests itself.
People who buy Apple products have typically spent a large sum of money on it (often more
than they would spend on a PC). These people then need to justify their
decision as the right one. This might be one of the hidden reasons Apple has
their cult-like following.</p>

<p>In all fairness, I own a few Mac laptops, multiple iPhones and an iPad, and I
love them. I can argue why they are better, and have a number of good, rational
reasons. However, I wonder which part cognitive dissonance plays.</p>

<p><a href="http://news.ycombinator.com/item?id=2968909">Discuss on Hacker News</a></p>{% endblock body %}