date: 05-08-2011
title: Why I want to become rich


{% extends "post.html" %}
{% block body %}

<p>My ambition is to become a millionaire by the time I&#8217;m 30 years old. That gives me about 3.5 more years to accomplish that goal. Even though I&#8217;m really happy where I am now and have enough money to live off, I still aim for bigger things.</p>
<p>The reason is not that I want to have more expensive houses or more stuff. I&#8217;m not a sucker for luxury (yet?).  In fact, I&#8217;ve been reducing the amount of stuff I own considerably, living out of a suitcase and planning to live out of a backpack. I canceled my apartment too, and don&#8217;t own a car or other things. I&#8217;m not planning to become rich so I never have to work anymore either, because I love building new stuff and creating value.</p>
<p>For me, the reason why I want to be rich is to have even more freedom. I would like to take on bigger projects. I&#8217;m now at the point where I can comfortably take care of myself, but it would be awesome to be able to hire other people. I don&#8217;t have enough money yet to work on projects that take years before they become profitable, but do have some big ideas with those constraints.</p>
<p>This is my reason. Why are you trying to become rich? Or why not?</p>
<p><a href="http://news.ycombinator.com/item?id=2849900">Discuss at Hacker News</a></p>{% endblock body %}
