date: 06-01-2012
title: Willpower


{% extends "post.html" %}
{% block body %}

<p>I hate flossing. My dentist insists that I do it, and after each visit I promised to do
better next time, but never followed through. I wanted to, but I lacked the
discipline to do it.</p>

<p>Some two months ago, I decided to do it differently. Instead of using my
willpower, I tricked myself into creating a habit. I grabbed a big piece of
paper, made rows and columns, creating about 60 large squares.</p>

<p>Each day, after flossing, I would draw something in the square. At the
beginning, it was just a cross. But my drawings became much more advanced, and
something to look forward to. After 3 days, it was already hard to break the
pattern, even though I still hated flossing.</p>

<p>This week I&#8217;m traveling, and I didn&#8217;t bring my piece of paper (which is completely filled,
anyway). However, I did bring my dental floss, and just yesterday I noticed it
has become a complete habit. I don&#8217;t think about it anymore, except when I
forget it. Then I still do it.</p>

<p>I didn&#8217;t think of this trick myself, by the way. I once read about it on
Lifehacker, as it&#8217;s also know as <a href="http://lifehacker.com/281626/jerry-seinfelds-productivity-secret">Seinfeld&#8217;s Productivity
Secret</a>. Over the next months, I&#8217;ll probably reuse it for other habits I&#8217;d like to instill.</p>{% endblock body %}