title: Working for the man
headline: How I started being my own boss
date: 05-03-2014

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

I got my first programming job when I was 16. I had made a website for the local library, and one of the two computer companies in the village had gotten my contact details. I went there, and started building a CMS in PHP for him. I was 15 or 16 years old, and loved it. I built and designed a lot of websites for all the local companies (the plumber, the party-rental-service, the truck company, etc.).

I then had a couple of jobs, always a little bit more serious, until I was 19, and they let me work at a really cool agency. After a while, we started working on a big project for a big client, and I knew my boss charged €175 an hour. I got paid €17. Even after deducting costs, he still made a really nice markup. So after some discussion, I got a project-based raise of €10.

I was doing a good job (the client we worked for, still asks me every once in a while if I would want to work for them). I also brought on multiple of my friends, some of which are still working at the company. My boss was quite happy. However, during a dinner, I told him that one day, after my studies, I wanted to start a company of my own. That changed things.

When the project for the client ended, I had to go back to my old wage of €17 an hour, without the bonus. For me, this meant a pay cut of 40%. Naturally, after having made my boss a lot of money, the client happy and bringing on a lot of friends, I thought I deserved a raise. First, it was hard to schedule a meeting, but after a while, we did talk about it, and my boss offered me a raise: I was going to make €17.50 an hour. I was *so* offended.

As happened multiple times over the last 10 years, I managed to turn my frustration into something productive. I knew that time had come to start my own company. I was planning to do it a few years later, but I realized that I didn't want to work for a boss anymore. So I called up my friend Eelco, who I'd been talking with about starting a company, and a few months later we were in business.

I haven't been an employee since, and can't imagine being one. I expect that at some point during my career, I will work for a boss again, and have a “regular” job. However, I'm quite afraid of giving up all this freedom: I now decide what to work on, who to work with, how much risk to take, when I want to work, and what I'll be doing next. It's going to be hard to have someone else decide all these things.

{% endfilter %}
{% endblock body %}

