{% extends "base.html" %}
{% block content %}

<section id="wrapper">
  <header id="header">
  <a id="title" class="index">
  <img src="{% static 'images/logo.png' %}" style="width: 2em">
  </a>
  </header> <!--header-->
  
  <ul id="post-list">
  	{% for post in posts|slice:":5" %}
  	<li> 
  		<a href='/{{ post.path }}'><aside class="dates">{{ post.date|date:"M j" }}</aside></a>
      <a href='/{{ post.path }}'>{{ post.title }} {% if post.headline|length %}<h2>{{ post.headline }}</h2>{% endif %}</a>
  	</li>
  	{% endfor %}
  </ul> <!--post-list-->
  
  {% if posts|length >= 4 %}
  <footer id="post-list-footer">
    <a id="archive-link" href="archive.html"> <span class="arrow">&larr;</span> Older posts</a>
  </footer>
  {% endif %}

  <footer id="about-me">
  {% filter markdown %} 
  I'm Chris Eidhof. I build iOS and Mac apps, such as [Deckset](http://www.decksetapp.com) and [Scenery](http://www.getscenery.com). I created [objc.io](http://objc.io), started [UIKonf](http://www.uikonf.com) and wrote [Functional Programming in Swift](http://www.objc.io/books/fpinswift) and [Advanced Swift](http://www.objc.io/books/advanced-swift). More [about me](/about.html).
  {% endfilter %}
  </footer>
  
  {% block footer %}
  <footer id="footer">
  <p class="small">Made in Berlin, by <a href="http://www.twitter.com/chriseidhof/">@chriseidhof</a>.</p>
  </footer>
  {% endblock footer %}
</section> <!--wrapper-->
{% endblock content %}
