{% extends "base.html" %}
{% block title %}{{ title }} | Chris Eidhof{% endblock title %}
{% block content %}
<section id="wrapper" class="group">
<header id="header">
<a id="title" href="/">
  <img src="{% static 'images/logo.png' %}" style="width: 2em">
</a>
</header>

<article class="post">
	<header>
		<h1>{{ title }}</h1>
    {% if headline|length %}
		<h2 class="headline">{{ headline }} </h2>
    {% endif %}
	</header>
	<section id="post-body">
		{% block body %}
		This is where the post contents is.
		{% endblock body %}
	</section>
	
<footer id="post-meta" class="group">
<div><span>Posted on </span> {{ date|date:"M j Y" }}</div>

<section id="sharing">
<a class="twitter" href="https://twitter.com/share"><span class="icon-twitter-circled"></span></a>

</section> <!--sharing-->
</footer> <!--post-meta-->
</article>

<footer>
<nav id="post-nav">
	<span class="prev">
		{% if prevPost %}
			<a href='/{{ prevPost.path }}'>
				<span class="arrow">&larr;</span> {{ prevPost.title }}
			</a>
		{% endif %}
	</span>
	

	<span class="next">
		{% if nextPost %}
			<a href='/{{ nextPost.path }}'>
				{{ nextPost.title }} <span class="arrow">&rarr;</span>
			</a>
		{% endif %}
	</span>
</nav>
</footer>

</section> <!--wrapper-->
{% endblock content %}
